table {}

table tr{
    list-style: none;
    padding-bottom: 9px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 0.95em;
}

table tr a{
   color: #444;
}

thead th {
    background: #f5f5f5;
    color: #a9a8a8;
    padding: 9px;
}

td {
    padding: 3px 10px;
    vertical-align: middle !important;
}

span.icon-20 {
    margin-top: 7px;
}

table {
    border: 1px solid #e6e6e6;
    font-size: 0.95em;
}