table {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-collapse: separate;
    
}
/* Top Left */
table tr:first-child th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}
/* Top Right */
table tr:first-child th:last-child{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}


.dataTables_wrapper {
    
  margin-bottom: 30px;
}

/* Search Bar */
.dataTables_filter {
  float: right;
  padding-top: 0px;
  margin-bottom: 4px;
  /* width: 250px; */
}

div.dataTables_wrapper div.dataTables_filter input {
  height: 25px;
}
div.dataTables_wrapper div.dataTables_length select {
  height: 25px;
}

/* Table */

table.dataTable {
  font-size: 0.92em;
  border-left: 1px solid #CCC;
  border-top: 1px solid #AEAEAE;
  margin: 0 !important;
}

table.dataTable thead {
   
  background-color: #8ea786;
  color: #fff;
}

table.dataTable tr.odd {
  background-color: #FAFAFA;
}

table.dataTable tr.even {
  background-color: white;
}

table.dataTable tr.odd td.sorting_1 {
}

table.dataTable tr.odd td.sorting_2 {
  background-color: white;
}

table.dataTable tr.odd td.sorting_3 {
  background-color: white;
}

table.dataTable tr.even td.sorting_1 {
  background-color: white;
}

table.dataTable tr.even td.sorting_2 {
  background-color: white;
}

table.dataTable tr.even td.sorting_3 {
  background-color: white;
}

table.dataTable thead th {
  text-align: center;
  /* border: 1px solid #8ea786; */
  font-size: 13px;
  vertical-align: middle;
  padding: 7px 12px 5px 7px;
  font-weight: lighter;
  cursor: pointer;
}

table.dataTable tr {
}

table.dataTable td {
  border-bottom: 1px solid #AEAEAE;
  border-right: 1px solid #CCC;
  vertical-align: middle;
  padding: 2px 8px;
  font-size: 0.93em;
}

table.dataTable a {
  text-decoration:none;
  color: #444;
  vertical-align: middle;
}

/*
 * Pagination
 */
.dataTables_paginate {
  margin-top: 5px;
  /* border-bottom: 1px solid #d4d4d4; */
}

.paginate_enabled_previous {
  background: url('../../images/libs/dataTables/back_enabled.png')
    no-repeat top left;
}

.paginate_enabled_previous:hover {
  background: url('../../images/libs/dataTables/back_enabled.png')
    no-repeat top left;
}

.paginate_disabled_previous {
  background: url('../../images/libs/dataTables/back_disabled.png')
    no-repeat top left;
}

.paginate_enabled_next {
  background: url('../../images/libs/dataTables/forward_enabled.png')
    no-repeat top right;
}

.paginate_enabled_next:hover {
  background: url('../../images/libs/dataTables/forward_enabled.png')
    no-repeat top right;
}

.paginate_disabled_next {
  background: url('../../images/libs/dataTables/forward_disabled.png')
    no-repeat top right;
}

/* Two button pagination - previous / next */
.paginate_enabled_previous,.paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #366506 !important;
}

.paginate_disabled_previous,.paginate_disabled_next {
  height: 19px;
  float: left;
  cursor: pointer !important;
  *cursor: pointer;
  color: #666666 !important;
  text-decoration: none !important;
}

/* Info */
.dataTables_info {
  font-style: italic;
  margin-top: 5px;
}

.dataTables_length {
  /* position: absolute; */
  /* top: 17px; */
  /* left: 0; */
}

.subHeader {
    background-color: #8ea786;
}
