#mini-graphic {
    width: 85%;
    height: 200px;
    border: 2px solid #d1d1d1;
    margin: auto auto;
    position: absolute;
    margin-left: 8%;
}

#graphicWrapper {
    margin-top: 15%;
    width: 100%;
    position: relative;
    height: 200px;
}

#overlay {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    /* color: white; */
    text-align: center;
    line-height: 200px;
    display: none;
}

#overlay span {
    cursor: pointer;
}

#infoRelations {
    position: absolute;
    width: 25%;
    z-index: 99;
}

#impactGraphic {
    width: 100%;
    height: 100%;
}

#infoContent {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}

#overlay a {
    color: white;
    cursor: pointer;
}

#changeGraph {
    position: absolute;
    right: 1%;
    top: 2%;
    z-index: 100;
}

#buttonDownload {
    position: absolute;
    right: 1%;
    top: 90%;
    z-index: 100;
    background-color: #efefef;
    color: #292929;
}

#buttonDownload a {
    text-decoration: none;
}