form#partnerSave {
    padding: 15px;
}

button#partnerSave_save {
    border-radius: 8px;
    padding: 6px;
    margin-top: 30px;
}

h3{
	border-bottom: 1px dashed #cccccc;
	padding-bottom: 16px;
	color: #777;
}