.flat-sm{
	margin:2px;
}

i.flag-sm {
  margin: 3px 4px 0 0;
  /* border: 1px solid #e4e2e2; */
  /* border-radius: 2px; */
  box-shadow: 1px 1px 2px #c5c5c5;
}

#allInstitutions .modal-dialog{
  width: 1000px;
}

.officeCountryRequest {
  width: 66%;
  margin-right: 1%;
  /* float: left; */
}

.officeCountryRequest p {
  margin-left: 9px;
}