.acronymBlock {
  float: left;
  width: 18%;
  padding-left: 0;
  padding-right: 1%;
}

.nameBlock {
  padding: 0;
  width: 60%;
  float: left;
}

.buttonBlock {
  width: 20%;
  padding-right: 0;
  float: right;
}

li.targetUnit {
  float: left;
  width: 49%;
  margin-left: 1%;
}

.srfIdo {
  /* padding: 5px; */
}

/** SLOs **/
.srfSlo .blockTitle, .crpParameters .blockTitle {
  cursor: pointer;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: -4px;
}

.srfSlo .blockTitle.opened, .crpParameters .blockTitle.opened {
  opacity: 0.5;
  background-image: url(../../../global/images/arrow-up.png);
}

.srfSlo .blockTitle.closed, .crpParameters .blockTitle.closed {
  background-image: url(../../../global/images/arrow-down.png);
}

.srfSlo .blockTitle small, .crpParameters .blockTitle small {
  color: #389b98;
}

.srfSlo .blockContent, .crpParameters .blockContent {
  padding: 0 15px 20px 15px;
}

/** IDOs **/
.srfIdo .blockTitle {
  cursor: pointer;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: -4px;
}

.srfIdo .blockTitle.opened {
  opacity: 0.5;
  background-image: url(../../../global/images/arrow-up.png);
}

.srfIdo .blockTitle.closed {
  background-image: url(../../../global/images/arrow-down.png);
}

.srfIdo .blockTitle small {
  color: #389b98;
}

.srfIdo .blockContent {
  padding: 0 15px 20px 15px;
}

.targetsContent h6 {
  display: inline-block;
  margin-top: 11px;
}

.targetsList {
  margin-top: 15px;
}

.targetRemove {
  margin-left: 2%;
  cursor: pointer;
}

.targetsContent input {
  width: 17%;
  margin-right: 2%;
  display: inline-block;
}

.targetsContent {
  margin: 0px 4%;
  padding: 0 5%;
  border: 1px dashed #ccc;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #f5f5f5;
}

.roleSpan {
  list-style: none;
  padding: 1px 4px 0px 6px;
  background-color: #F7F7F7;
  border: 1px solid #E0E0E0 !important;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 5px;
  position: relative;
  display: block;
}

table#marloUsersTable {
  font-size: 0.9em;
}

table#marloUsersTable i {
  color: #a9a9a9;
}

table#marloUsersTable tr {
  cursor: pointer;
}

.locElementType {
  width: 49%;
  margin-left: 1%;
  float: left;
}

table.ui-datepicker-calendar {
  display: block;
}

td {
  vertical-align: middle;
}

.partnerRequestItem p {
  line-height: 0.5em;
}

.partnerRequestItem .flag-sm{
  vertical-align: sub;
}
.partnerRequestItem h4 {margin: 2px 0px;}
