.formWrapper{}

.form-group{}

#partnerContent .institution {/* border: 1px dashed rgba(150, 150, 150, 0.7); *//* margin-bottom: 8px; *//* padding: 3px 3px 3px 15px; */}

.delete {
    padding-left: 3%;
    cursor: pointer;
}

.withOutCP h5.title.sectionSubTitle {
  border: 0;
  padding: 0;
  color: #a25e5e;
}

.withOutCP {
  padding: 0px 17px;
}