table {
}

table tr {
  list-style: none;
  padding-bottom: 9px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 0.95em;
}

table tr a {
  color: #444;
}

thead th {
  background: #f5f5f5;
  color: #a9a8a8;
  padding: 9px;
}

td {
  padding: 3px 10px;
  vertical-align: middle !important;
}

span.icon-20 {
  margin-top: 7px;
}

table {
  border: 1px solid #e6e6e6;
  font-size: 0.95em;
}

.outcomeStatement {
  float: left;
}

table ul {
  padding: 2px;
}

/** MARLO Responsibe Tables */
.table-responsive table {
  min-width: 1500px;
  margin-bottom: 0;
}

.table-responsive {
  border: 1px solid #ddd;
  max-height: 500px;
}

.table > thead > tr > th {
  vertical-align:middle;
}

/************* 1.2 Expected CRP Progress ***************/

.powbOutcome {
  padding-top: 16px;
}
.powbMilestone{
  padding-top: 20px;
}
/************* 1.3 Evidence ***************/
form .form-group.evidence-panel {
  margin-bottom: 40px;
}

.evidence-plannedStudies-header .flagship-planned-studies-button {
  position: absolute;
  margin-top: 15px;
  padding: 5px;
  font-size: 85%;
  right: 0;
  margin-right: 25px;
  cursor: pointer;
}

#table-plannedStudies {
  border-collapse: collapse;
}

#table-plannedStudies .subHeader th {
  text-align: center;
}

#table-plannedStudies td {
  border: 1px solid rgb(224, 224, 224);
}

#table-plannedStudies .relevantSubIDO ul {
  padding-left: 15px;
}

#table-plannedStudies tr:nth-child(even) {
  background-color: #f2f2f2;
}

.modal-content {
  padding: 20px;
}

.modal-content h3.subTitle.headTitle {
  display: inline;
}

