<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
 <display-name>Struts Blank</display-name>
  
 <resource-ref>
      <description>MARLO Connection</description>
      <res-ref-name>MARLO</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>
      org.cgiar.ccafs.marlo.security.SessionCounter
    </listener-class>
  </listener>
  
  <listener>
    <listener-class>org.cgiar.ccafs.marlo.config.PentahoListener</listener-class>
  </listener>

  <session-config>  
    <session-timeout> 21600 </session-timeout>  
  </session-config> 
  
  <welcome-file-list>
    <welcome-file>/login.do</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <location>/errorPage.html</location>
  </error-page> 
</web-app>
