<?xml version="1.0" encoding="UTF-8"?>
<web-app id="struts_blank" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Struts Blank</display-name>
  
 <resource-ref>
      <description>MARLO Connection</description>
      <res-ref-name>MARLO</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>
      org.cgiar.ccafs.marlo.security.SessionCounter
    </listener-class>
  </listener>
    
   <!-- Google Guice Module initializer -->
  <listener>
    <listener-class>org.cgiar.ccafs.marlo.config.APGuiceContextListener</listener-class>
  </listener>
  
    <!--  Flyway listener  -->
  <listener>
    <listener-class>org.cgiar.ccafs.marlo.config.FlywayContextListener</listener-class>
  </listener>
    
     <listener>
    <listener-class>org.cgiar.ccafs.marlo.config.RulesListener</listener-class>
  </listener>
    
    <!--  Hibernate listener  -->
   <listener>
    <listener-class>org.cgiar.ccafs.marlo.config.HibernateListener</listener-class>
  </listener>
  
  <!--  
    <listener>
    <listener-class>org.cgiar.ccafs.marlo.config.PentahoListener</listener-class>
  </listener>
  -->
  
  
  <filter>
  <filter-name>ShiroFilter</filter-name>
  <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
</filter>
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 
  
  <!-- Google Guice integration with our web application -->
  <filter>
    <filter-name>guice</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  


  
  <!-- Google Guice configuration for all requests -->
  <filter-mapping>
    <filter-name>guice</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
      org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
    </filter-class>
    <init-param>
      <param-name>actionPackages</param-name>
      <param-value>com.concretepage.action</param-value>
    </init-param> 
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 
  
  <!-- SSL settings. only allow HTTPS access to JIRA -->  
    <!--
       
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
   -->
  <session-config>  
    <session-timeout> 21600 </session-timeout>  
  </session-config> 
  
  <welcome-file-list>
    <welcome-file>/login.do</welcome-file>
  </welcome-file-list>
  
  <error-page>  
    <error-code>404</error-code>  
    <location>/404.jsp</location>  
  </error-page>  
</web-app>