.outcome {
  margin-bottom: 20px;
}

.idoBlock {
  width: 41%;
  float: left;
  padding-right: 3%;
}

.subIdoBlock {
  width: 59%;
  float: left;
  padding-right: 0%;
  padding-top: 3px;
}

.contributionBlock {
  width: 18%;
  float: left;
}

p.contributioRem {
  color: #949494;
  font-size: 0.85em;
}

.buttonSubIdo-block {
    float: left;
    display: inline-block;
    margin-right: 5%;
}

.contribution {}

.subIdoId {
}

.idoWrapper {
    display: inline-block;
    width: 120px;
    margin: 5px 8px;
    vertical-align: top;
}

.IDO {
    border: 3px solid rgba(128, 128, 128, 0.59);
    background-color: rgb(5, 120, 163);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 5% 8%;
    height: 101px;
}

.IDO-CrossCutting {
    border: 3px solid rgba(128, 128, 128, 0.59);
    background-color: rgb(103, 107, 109);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 5% 8%;
    height: 101px;
}

.subIDO {
    border: 2px solid #7a90da;
    background-color: rgba(19, 145, 190, 0.56);
    color: #0509a3;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 10px;
}

.subIDO-CrossCutting {
    border: 2px solid rgb(122, 144, 218);
    background-color: rgba(69, 71, 72, 0.24);
    color: #0509a3;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 10px;
}

.line {
    width: 2px;
    height: 18px;
    background-color: rgb(210, 211, 211);
    margin: auto auto;
}

.graphic-container {
    width: 2000px;
}

.subIdoSelected {
    border: 1.5px solid #f1f1f1;
    line-height: 26px;
    border-radius: 3px;
    width: auto;
    padding-left: 0.8em;
}

.subIdoSelected i{color: #999999;}

.buttonSubIdo-block {
    padding-top: 1px;
}


.subIDO:hover {border: 2px solid #334890;}



.idoWrapper.crossCutting {
}

.filterPanel {
    width: 320px;
    margin-bottom: 15px;
}



.addOtherTargetUnit {
  font-size: 0.9em;
  margin-top: 3px;
  font-style: italic;
}
.addOtherTargetUnit a{
  color: #8ea786;
}

.buttonSubIdo-content {
    padding-top: 7px;
}

.selectSubIDO {
    cursor: pointer;
}

.milestone {
    padding-top: 21px;
    padding-bottom: 0px;
}

.milestones-list {
    position: relative;
}

/* Tabs */

.tab-content {
    border: 1px solid #d1d1d1;
    padding: 25px 1.5em 25px 1.5em;
    border-radius: 0px 4px 4px 4px;
    margin-bottom: 25px;
    border-top: none;
}

.nav.nav-tabs a {
    background-color: #f5f5f5;
    height: 40px;
    padding: 10px 33px;
    border-color: #eee #eee #e8e8e8;
}

.baselineIndicator {
  padding: 20px 10px 5px 23px;
}