.errorContent{
	background-image:url("./../../global/images/error-page-500.jpg");
	height: 490px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#info {
    float: right;
    width: 48%;
    display: inline-block;
    text-align: justify;
    padding-top: 10px;
    font-family: sans-serif;
}

#info h2 {
    color: #0277A2;
    font-size: 6.5em;
}

#info span {
    font-size: 2.2em;
}

#info p {
    font-size: 1.3em;
    color: #999;
}

.button-goBack {
    font-size: 1.5em;
    padding: 3px 8px 3px 8px;
    margin-top: 15px;
    margin-left: 20%;
    text-align: center;
    background: #0277a2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.button-goBack:hover {
    background: #57a7b5;
}