/* The container */
.inputContainer {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.inputContainer input {
  display: none;
  cursor: pointer;
}

.inputContainer .labelText {
  padding-left: 25px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.checkmark.centered-true {
  top: -9px;
  left: -9px;
}

/* On mouse-over, add a grey background color */
.inputContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.inputContainer input:checked ~ .checkmark {
  background-color: #2196F3;
  border-color: #1b91ef;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.inputContainer:hover input:checked ~ .checkmark {
  background-color: #60adea;
  border-color: #60adea;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.inputContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.inputContainer .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
