<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.search.autoregister_listeners">false</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <property name="connection.autoReconnect">true</property>
  <property name="connection.autoReconnectForPools">true</property>
  <property name="connection.is-connection-validation-required">true</property>
  <property name="show_sql">false</property>
  <property name="use_sql_comments">false</property>
  <property name="generate_statistics">false</property>
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <!-- The following property will validate the hibernate hbm.xml files against 
      the schema. This is a recommended setting, but we have an issue where some 
      of our entities are using mysql INT primary keys instead of BIGINT so validation 
      fails. 
 <property name="hibernate.hbm2ddl.auto">validate</property> 
 Model Mappings -->
  <mapping resource="xmls/DeliverableMetadataElements.hbm.xml"/>
  <mapping resource="xmls/Auditlog.hbm.xml"/>
  <mapping resource="xmls/Users.hbm.xml"/>
  <mapping resource="xmls/CrpUsers.hbm.xml"/>
  <mapping resource="xmls/Roles.hbm.xml"/>
  <mapping resource="xmls/UserRoles.hbm.xml"/>
  <mapping resource="xmls/SrfIdos.hbm.xml"/>
  <mapping resource="xmls/CrpsSitesIntegration.hbm.xml"/>
  <mapping resource="xmls/CrpProgramLeaders.hbm.xml"/>
  <mapping resource="xmls/CrpSitesLeaders.hbm.xml"/>
  <mapping resource="xmls/SrfSloIndicatorTargets.hbm.xml"/>
  <mapping resource="xmls/CrpMilestones.hbm.xml"/>
  <mapping resource="xmls/CrpAssumptions.hbm.xml"/>
  <mapping resource="xmls/CrpPrograms.hbm.xml"/>
  <mapping resource="xmls/SrfSubIdos.hbm.xml"/>
  <mapping resource="xmls/CrpOutcomeSubIdos.hbm.xml"/>
  <mapping resource="xmls/SrfTargetUnits.hbm.xml"/>
  <mapping resource="xmls/SrfSloIdos.hbm.xml"/>
  <mapping resource="xmls/LocElementTypes.hbm.xml"/>
  <mapping resource="xmls/CrpClusterOfActivities.hbm.xml"/>
  <mapping resource="xmls/SrfCrossCuttingIssues.hbm.xml"/>
  <mapping resource="xmls/CrpProgramOutcomes.hbm.xml"/>
  <mapping resource="xmls/SrfSlos.hbm.xml"/>
  <mapping resource="xmls/CrpSubIdosContributions.hbm.xml"/>
  <mapping resource="xmls/LocElements.hbm.xml"/>
  <mapping resource="xmls/LocGeopositions.hbm.xml"/>
  <mapping resource="xmls/SrfSloIndicators.hbm.xml"/>
  <mapping resource="xmls/Institutions.hbm.xml"/>
  <mapping resource="xmls/InstitutionTypes.hbm.xml"/>
  <mapping resource="xmls/CrpPpaPartners.hbm.xml"/>
  <mapping resource="xmls/CrpProgramCountries.hbm.xml"/>
  <mapping resource="xmls/CrpClusterActivityLeaders.hbm.xml"/>
  <mapping resource="xmls/SectionStatuses.hbm.xml"/>
  <mapping resource="xmls/Submissions.hbm.xml"/>
  <mapping resource="xmls/Projects.hbm.xml"/>
  <mapping resource="xmls/ProjectFocuses.hbm.xml"/>
  <mapping resource="xmls/LiaisonInstitutions.hbm.xml"/>
  <mapping resource="xmls/LiaisonUsers.hbm.xml"/>
  <mapping resource="xmls/ProjectLocations.hbm.xml"/>
  <mapping resource="xmls/ProjectPartners.hbm.xml"/>
  <mapping resource="xmls/ProjectPartnerContributions.hbm.xml"/>
  <mapping resource="xmls/ProjectPartnerPersons.hbm.xml"/>
  <mapping resource="xmls/ProjectPartnerOverall.hbm.xml"/>
  <mapping resource="xmls/ProjectComponentLessons.hbm.xml"/>
  <mapping resource="xmls/Files.hbm.xml"/>
  <mapping resource="xmls/CrpClusterKeyOutputs.hbm.xml"/>
  <mapping resource="xmls/ProjectClusterActivities.hbm.xml"/>
  <mapping resource="xmls/ProjectOutcomes.hbm.xml"/>
  <mapping resource="xmls/ProjectMilestones.hbm.xml"/>
  <mapping resource="xmls/ProjectCommunications.hbm.xml"/>
  <mapping resource="xmls/ProjectScopes.hbm.xml"/>
  <mapping resource="xmls/Deliverables.hbm.xml"/>
  <mapping resource="xmls/DeliverableTypes.hbm.xml"/>
  <mapping resource="xmls/ProjectNextusers.hbm.xml"/>
  <mapping resource="xmls/Activities.hbm.xml"/>
  <mapping resource="xmls/ProjectCrpContributions.hbm.xml"/>
  <mapping resource="xmls/ProjectBudgets.hbm.xml"/>
  <mapping resource="xmls/BudgetTypes.hbm.xml"/>
  <mapping resource="xmls/DeliverableActivities.hbm.xml"/>
  <mapping resource="xmls/CrpClusterKeyOutputsOutcome.hbm.xml"/>
  <mapping resource="xmls/ProjectLocationElementTypes.hbm.xml"/>
  <mapping resource="xmls/FundingSources.hbm.xml"/>
  <mapping resource="xmls/FundingSourceInfo.hbm.xml"/>
  <mapping resource="xmls/FundingSourceBudgets.hbm.xml"/>
  <mapping resource="xmls/DeliverableFundingSources.hbm.xml"/>
  <mapping resource="xmls/DeliverableGenderLevels.hbm.xml"/>
  <mapping resource="xmls/CrpTargetUnits.hbm.xml"/>
  <mapping resource="xmls/ProjectHighligths.hbm.xml"/>
  <mapping resource="xmls/ProjectHighligthsCountry.hbm.xml"/>
  <mapping resource="xmls/ProjectHighligthsTypes.hbm.xml"/>
  <mapping resource="xmls/ProjectLeverage.hbm.xml"/>
  <mapping resource="xmls/CasesStudies.hbm.xml"/>
  <mapping resource="xmls/CaseStudyProjects.hbm.xml"/>
  <mapping resource="xmls/CrpIndicatorReports.hbm.xml"/>
  <mapping resource="xmls/CrpIndicators.hbm.xml"/>
  <mapping resource="xmls/CrpIndicatorTypes.hbm.xml"/>
  <mapping resource="xmls/IpElements.hbm.xml"/>
  <mapping resource="xmls/IpElementTypes.hbm.xml"/>
  <mapping resource="xmls/IpIndicators.hbm.xml"/>
  <mapping resource="xmls/IpProgramElementRelationTypes.hbm.xml"/>
  <mapping resource="xmls/IpProgramElements.hbm.xml"/>
  <mapping resource="xmls/IpPrograms.hbm.xml"/>
  <mapping resource="xmls/IpProgramTypes.hbm.xml"/>
  <mapping resource="xmls/IpProjectContributionOverviews.hbm.xml"/>
  <mapping resource="xmls/IpProjectContributions.hbm.xml"/>
  <mapping resource="xmls/IpProjectIndicators.hbm.xml"/>
  <mapping resource="xmls/MogSynthesis.hbm.xml"/>
  <mapping resource="xmls/OutcomeSynthesis.hbm.xml"/>
  <mapping resource="xmls/ProjectOtherContributions.hbm.xml"/>
  <mapping resource="xmls/ProjectFocusesPrev.hbm.xml"/>
  <mapping resource="xmls/ProjectFurtherContributions.hbm.xml"/>
  <mapping resource="xmls/DeliverableDataSharing.hbm.xml"/>
  <mapping resource="xmls/DeliverableDataSharingFile.hbm.xml"/>
  <mapping resource="xmls/DeliverableDissemination.hbm.xml"/>
  <mapping resource="xmls/IpRelationships.hbm.xml"/>
  <mapping resource="xmls/FundingSourceInstitutions.hbm.xml"/>
  <mapping resource="xmls/FundingSourceDivisions.hbm.xml"/>
  <mapping resource="xmls/DeliverableQualityAnswers.hbm.xml"/>
  <mapping resource="xmls/DeliverableQualityChecks.hbm.xml"/>
  <mapping resource="xmls/ProjectOutcomesPandr.hbm.xml"/>
  <mapping resource="xmls/OtherContributions.hbm.xml"/>
  <mapping resource="xmls/CrpsPandr.hbm.xml"/>
  <mapping resource="xmls/CaseStudieIndicators.hbm.xml"/>
  <mapping resource="xmls/MetadataElements.hbm.xml"/>
  <mapping resource="xmls/DeliverablePublicationsMetada.hbm.xml"/>
  <mapping resource="xmls/DeliverableCrps.hbm.xml"/>
  <mapping resource="xmls/DeliverableUsers.hbm.xml"/>
  <mapping resource="xmls/IpLiaisonInstitutions.hbm.xml"/>
  <mapping resource="xmls/IpLiaisonUsers.hbm.xml"/>
  <mapping resource="xmls/DeliverableLeaders.hbm.xml"/>
  <mapping resource="xmls/DeliverablePrograms.hbm.xml"/>
  <mapping resource="xmls/PartnerRequests.hbm.xml"/>
  <mapping resource="xmls/Phases.hbm.xml"/>
  <mapping resource="xmls/ProjectPhases.hbm.xml"/>
  <mapping resource="xmls/GenderTypes.hbm.xml"/>
  <mapping resource="xmls/PartnerDivisions.hbm.xml"/>
  <mapping resource="xmls/CrpLocElementTypes.hbm.xml"/>
  <mapping resource="xmls/FundingSourceLocations.hbm.xml"/>
  <mapping resource="xmls/Parameters.hbm.xml"/>
  <mapping resource="xmls/CustomParameters.hbm.xml"/>
  <mapping resource="xmls/InstitutionsLocations.hbm.xml"/>
  <mapping resource="xmls/ProjectPartnerLocations.hbm.xml"/>
  <mapping resource="xmls/ProjectsInfo.hbm.xml"/>
  <mapping resource="xmls/CenterAllTypes.hbm.xml"/>
  <mapping resource="xmls/CenterMilestones.hbm.xml"/>
  <mapping resource="xmls/CenterAreas.hbm.xml"/>
  <mapping resource="xmls/CenterImpact.hbm.xml"/>
  <mapping resource="xmls/CenterLeaders.hbm.xml"/>
  <mapping resource="xmls/CenterObjective.hbm.xml"/>
  <mapping resource="xmls/CenterOutcome.hbm.xml"/>
  <mapping resource="xmls/CenterOutput.hbm.xml"/>
  <mapping resource="xmls/CenterPrograms.hbm.xml"/>
  <mapping resource="xmls/CenterTopic.hbm.xml"/>
  <mapping resource="xmls/CenterImpactObjectives.hbm.xml"/>
  <mapping resource="xmls/CenterSectionStatuses.hbm.xml"/>
  <mapping resource="xmls/CenterTargetUnits.hbm.xml"/>
  <mapping resource="xmls/CenterBeneficiaries.hbm.xml"/>
  <mapping resource="xmls/CenterBeneficiaryTypes.hbm.xml"/>
  <mapping resource="xmls/CenterImpactBeneficiaries.hbm.xml"/>
  <mapping resource="xmls/CenterRegions.hbm.xml"/>
  <mapping resource="xmls/CenterNextuserTypes.hbm.xml"/>
  <mapping resource="xmls/CenterOutputsNextUsers.hbm.xml"/>
  <mapping resource="xmls/CenterCycles.hbm.xml"/>
  <mapping resource="xmls/CenterSubmissions.hbm.xml"/>
  <mapping resource="xmls/CenterProjectOutputs.hbm.xml"/>
  <mapping resource="xmls/CenterProjects.hbm.xml"/>
  <mapping resource="xmls/CenterProjectStatus.hbm.xml"/>
  <mapping resource="xmls/CenterFundingSourceTypes.hbm.xml"/>
  <mapping resource="xmls/CenterProjectFundingSources.hbm.xml"/>
  <mapping resource="xmls/CenterProjectCrosscutingThemes.hbm.xml"/>
  <mapping resource="xmls/CenterDeliverables.hbm.xml"/>
  <mapping resource="xmls/CenterDeliverableTypes.hbm.xml"/>
  <mapping resource="xmls/CenterDeliverableDocuments.hbm.xml"/>
  <mapping resource="xmls/CenterMonitoringOutcomes.hbm.xml"/>
  <mapping resource="xmls/CenterMonitoringMilestones.hbm.xml"/>
  <mapping resource="xmls/CenterMonitoringOutcomeEvidences.hbm.xml"/>
  <mapping resource="xmls/CenterProjectPartnerPersons.hbm.xml"/>
  <mapping resource="xmls/CenterProjectPartners.hbm.xml"/>
  <mapping resource="xmls/CenterProjectLocations.hbm.xml"/>
  <mapping resource="xmls/CenterDeliverableCrosscutingThemes.hbm.xml"/>
  <mapping resource="xmls/CenterDeliverableOutputs.hbm.xml"/>
  <mapping resource="xmls/CenterProjectTypes.hbm.xml"/>
  <mapping resource="xmls/CenterImpactStatement.hbm.xml"/>
  <mapping resource="xmls/DeliverablesInfo.hbm.xml"/>
  <mapping resource="xmls/CapacityDevelopment.hbm.xml"/>
  <mapping resource="xmls/CapacityDevelopmentTypes.hbm.xml"/>
  <mapping resource="xmls/CapdevLocations.hbm.xml"/>
  <mapping resource="xmls/Disciplines.hbm.xml"/>
  <mapping resource="xmls/CapdevDiscipline.hbm.xml"/>
  <mapping resource="xmls/TargetGroups.hbm.xml"/>
  <mapping resource="xmls/CapdevTargetgroup.hbm.xml"/>
  <mapping resource="xmls/CapdevParticipant.hbm.xml"/>
  <mapping resource="xmls/Participant.hbm.xml"/>
  <mapping resource="xmls/CapdevOutputs.hbm.xml"/>
  <mapping resource="xmls/CapdevPartners.hbm.xml"/>
  <mapping resource="xmls/CapdevSupportingDocs.hbm.xml"/>
  <mapping resource="xmls/CapdevSuppDocsDocuments.hbm.xml"/>
  <mapping resource="xmls/CapdevFoundingType.hbm.xml"/>
  <mapping resource="xmls/CapdevHighestDegree.hbm.xml"/>
  <mapping resource="xmls/Agreement.hbm.xml"/>
  <mapping resource="xmls/CountryAgreement.hbm.xml"/>
  <mapping resource="xmls/CrpAgreement.hbm.xml"/>
  <mapping resource="xmls/FundingSourceAgreement.hbm.xml"/>
  <mapping resource="xmls/PlaAgreement.hbm.xml"/>
  <mapping resource="xmls/AdUser.hbm.xml"/>
  <mapping resource="xmls/CapdevRangeAge.hbm.xml"/>
  <mapping resource="xmls/RepositoryChannel.hbm.xml"/>
  <mapping resource="xmls/CenterFundingSyncTypes.hbm.xml"/>
  <mapping resource="xmls/GlobalUnitTypes.hbm.xml"/>
  <mapping resource="xmls/GlobalUnits.hbm.xml"/>
  <mapping resource="xmls/GlobalUnitProjects.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudies.hbm.xml"/>
  <mapping resource="xmls/ProjectBudgetsFlagships.hbm.xml"/>
  <mapping resource="xmls/CrossCuttingScoring.hbm.xml"/>
  <mapping resource="xmls/CrpProgramOutcomeIndicator.hbm.xml"/>
  <mapping resource="xmls/ProjectOutcomeIndicators.hbm.xml"/>
  <mapping resource="xmls/EmailLogs.hbm.xml"/>
  <mapping resource="xmls/ExpectedStudyProjects.hbm.xml"/>
  <mapping resource="xmls/CenterOutputsOutcomes.hbm.xml"/>
  <mapping resource="xmls/PowbSynthesis.hbm.xml"/>
  <mapping resource="xmls/PowbFlagshipPlans.hbm.xml"/>
  <mapping resource="xmls/PowbToc.hbm.xml"/>
  <mapping resource="xmls/PowbEvidencePlannedStudies.hbm.xml"/>
  <mapping resource="xmls/PowbEvidences.hbm.xml"/>
  <mapping resource="xmls/PowbCrossCuttingDimensions.hbm.xml"/>
  <mapping resource="xmls/PowbExpectedCrpProgress.hbm.xml"/>
  <mapping resource="xmls/PowbCrpStaffing.hbm.xml"/>
  <mapping resource="xmls/PowbCrpStaffingCategories.hbm.xml"/>
  <mapping resource="xmls/PowbSynthesisCrpStaffingCategory.hbm.xml"/>
  <mapping resource="xmls/PowbMonitoringEvaluationLearning.hbm.xml"/>
  <mapping resource="xmls/PowbMonitoringEvaluationLearningExercises.hbm.xml"/>
  <mapping resource="xmls/PowbManagementRisk.hbm.xml"/>
  <mapping resource="xmls/PowbManagementGovernance.hbm.xml"/>
  <mapping resource="xmls/PowbFinancialPlan.hbm.xml"/>
  <mapping resource="xmls/PowbExpenditureAreas.hbm.xml"/>
  <mapping resource="xmls/PowbFinancialExpenditure.hbm.xml"/>
  <mapping resource="xmls/PowbFinancialPlannedBudget.hbm.xml"/>
  <mapping resource="xmls/PowbCollaboration.hbm.xml"/>
  <mapping resource="xmls/PowbCollaborationGlobalUnits.hbm.xml"/>
  <mapping resource="xmls/PowbCollaborationRegions.hbm.xml"/>
  <mapping resource="xmls/ProjectHighlightsInfo.hbm.xml"/>
  <mapping resource="xmls/DeliverableRules.hbm.xml"/>
  <mapping resource="xmls/DeliverableTypeRules.hbm.xml"/>
  <mapping resource="xmls/RepIndGenderYouthFocusLevels.hbm.xml"/>
  <mapping resource="xmls/RepIndGeographicScopes.hbm.xml"/>
  <mapping resource="xmls/RepIndInnovationTypes.hbm.xml"/>
  <mapping resource="xmls/RepIndLandUseTypes.hbm.xml"/>
  <mapping resource="xmls/RepIndOrganizationTypes.hbm.xml"/>
  <mapping resource="xmls/RepIndPhaseResearchPartnerships.hbm.xml"/>
  <mapping resource="xmls/RepIndPolicyInvestimentTypes.hbm.xml"/>
  <mapping resource="xmls/RepIndRegions.hbm.xml"/>
  <mapping resource="xmls/RepIndStageInnovations.hbm.xml"/>
  <mapping resource="xmls/RepIndTypeActivities.hbm.xml"/>
  <mapping resource="xmls/RepIndTypeParticipants.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovations.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationInfo.hbm.xml"/>
  <mapping resource="xmls/ProjectPartnerPartnerships.hbm.xml"/>
  <mapping resource="xmls/ProjectPartnerPartnershipLocation.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationCountries.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationDeliverables.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationOrganizations.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationCrps.hbm.xml"/>
  <mapping resource="xmls/DeliverableIntellectualAssets.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyCountries.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyCrp.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyFlagships.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyInfo.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyInstitutions.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudySrfTargets.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudySubIdo.hbm.xml"/>
  <mapping resource="xmls/StudyTypes.hbm.xml"/>
  <mapping resource="xmls/RepIndStageStudies.hbm.xml"/>
  <mapping resource="xmls/RepIndStageProcess.hbm.xml"/>
  <mapping resource="xmls/DeliverableParticipants.hbm.xml"/>
  <mapping resource="xmls/RepIndFillingTypes.hbm.xml"/>
  <mapping resource="xmls/RepIndPatentStatuses.hbm.xml"/>
  <mapping resource="xmls/ProjectPartnerPartnershipResearchPhases.hbm.xml"/>
  <mapping resource="xmls/RepIndContributionOfCrp.hbm.xml"/>
  <mapping resource="xmls/RepIndDegreeInnovation.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesis.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisCrpProgress.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisCrpProgressStudies.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisCrpProgressTargets.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFinancialSummaries.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFinancialSummaryBudgets.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisGovernances.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisRisks.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisCrossCuttingDimensions.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisCrossCuttingDimensionInnovations.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisCrossCuttingDimensionAssets.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFlagshipProgress.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFlagshipProgressMilestones.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisProgramVariances.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFundingUseSummaries.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFundingUseExpendituryAreas.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisEfficiency.hbm.xml"/>
  <mapping resource="xmls/RepIndSynthesisIndicator.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisIndicators.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisIndicatorGenerals.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisExternalPartnerships.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisExternalPartnershipProjects.hbm.xml"/>
  <mapping resource="xmls/RepIndCollaborationType.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisCrossCgiar.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisCrossCgiarCollaborations.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisMelia.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisMeliaActionStudies.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisMeliaEvaluations.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisMeliaStudies.hbm.xml"/>
  <mapping resource="xmls/ProjectCenterOutcomes.hbm.xml"/>
  <mapping resource="xmls/PowbIndAssesmentRisk.hbm.xml"/>
  <mapping resource="xmls/PowbIndFollowingMilestones.hbm.xml"/>
  <mapping resource="xmls/PowbIndMilestoneRisks.hbm.xml"/>
  <mapping resource="xmls/DeliverableLocations.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyRegions.hbm.xml"/>
  <mapping resource="xmls/DeliverableGeographicRegions.hbm.xml"/>
  <mapping resource="xmls/PowbCollaborationGlobalUnitPmus.hbm.xml"/>
  <mapping resource="xmls/PowbProgramChanges.hbm.xml"/>
  <mapping resource="xmls/RepIndPolicyTypes.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicies.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicyInfo.hbm.xml"/>
  <mapping resource="xmls/CgiarCrossCuttingMarkers.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicyCountries.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicyOwners.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicyCrps.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicySubIdos.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicyCrossCuttingMarkers.hbm.xml"/>
  <mapping resource="xmls/ProjectLp6Contribution.hbm.xml"/>
  <mapping resource="xmls/ProjectLp6ContributionDeliverables.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationContributingOrganizations.hbm.xml"/>
  <mapping resource="xmls/DeliverableCrossCuttingMarkers.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyInnovations.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyLinks.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyPolicies.hbm.xml"/>
  <mapping resource="xmls/GeneralStatuses.hbm.xml"/>
  <mapping resource="xmls/GeneralStatusesTable.hbm.xml"/>
  <mapping resource="xmls/GeneralAcronyms.hbm.xml"/>
  <mapping resource="xmls/EvidenceTags.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyQuantifications.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicyInnovations.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicyGeographicScopes.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicyRegions.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyGeographicScopes.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationGeographicScopes.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationRegions.hbm.xml"/>
  <mapping resource="xmls/RepIndTrainingTerms.hbm.xml"/>
  <mapping resource="xmls/DeliverableGeographicScopes.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisSrfProgress.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisSrfProgressTargets.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisSrfProgressTargetsCases.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisSrfProgressTargetsCasesLinks.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisIntellectualAssets.hbm.xml"/>
  <mapping resource="xmls/MarloMessages.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisExpenditureCategories.hbm.xml"/>
  <mapping resource="xmls/ProjectBudgetExecutions.hbm.xml"/>
  <mapping resource="xmls/RepIndPartnershipMainArea.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisKeyPartnershipExternal.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisKeyPartnershipExternalInstitutions.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisKeyPartnershipExternalMainAreas.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisKeyPartnerships.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFlagshipProgressPolicies.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisKeyPartnershipCollaborationCrps.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisKeyPartnershipCollaborations.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisKeyPartnershipPmu.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFlagshipProgressStudies.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFlagshipProgressInnovations.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFlagshipProgressDeliverables.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFlagshipProgressCross.hbm.xml"/>
  <mapping resource="xmls/RepIndMilestoneReasons.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFlagshipProgressOutcomes.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisFlagshipProgressOutcomesMilestones.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisNarratives.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisMeliaEvaluationActions.hbm.xml"/>
  <mapping resource="xmls/ClarisaMonitoring.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisKeyPartnershipCollaborationPmu.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationShared.hbm.xml"/>
  <mapping resource="xmls/DeliverablePartnerTypes.hbm.xml"/>
  <mapping resource="xmls/DeliverableUserPartnerships.hbm.xml"/>
  <mapping resource="xmls/DeliverableUserPartnershipsPersons.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyCenters.hbm.xml"/>
  <mapping resource="xmls/ProjectPolicyCenters.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationCenters.hbm.xml"/>
  <mapping resource="xmls/PolicyMilestones.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationMilestones.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyMilestones.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationSubIdos.hbm.xml"/>
  <mapping resource="xmls/BiReports.hbm.xml"/>
  <mapping resource="xmls/BiParameters.hbm.xml"/>
  <mapping resource="xmls/QATokenAuth.hbm.xml"/>
  <mapping resource="xmls/UrlSynthesisLogs.hbm.xml"/>
  <mapping resource="xmls/ProjectImpacts.hbm.xml"/>
  <mapping resource="xmls/ProjectImpactsCategories.hbm.xml"/>
  <mapping resource="xmls/ProgressTargetCaseGeographicScopes.hbm.xml"/>
  <mapping resource="xmls/ProgressTargetCaseGeographicRegions.hbm.xml"/>
  <mapping resource="xmls/ProgressTargetCaseGeographicCountries.hbm.xml"/>
  <mapping resource="xmls/ActionAreas.hbm.xml"/>
  <mapping resource="xmls/ImpactAreas.hbm.xml"/>
  <mapping resource="xmls/ImpactAreasIndicators.hbm.xml"/>
  <mapping resource="xmls/Sdg.hbm.xml"/>
  <mapping resource="xmls/SdgTargets.hbm.xml"/>
  <mapping resource="xmls/SdgIndicators.hbm.xml"/>
  <mapping resource="xmls/ReportSynthesisSrfProgressTargetContributions.hbm.xml"/>
  <!-- Deliverable WOS/Scopus and Altmetrics -->
  <mapping resource="xmls/DeliverableAffiliationsNotMapped.hbm.xml"/>
  <mapping resource="xmls/ExternalSourceAuthor.hbm.xml"/>
  <mapping resource="xmls/DeliverableMetadataExternalSources.hbm.xml"/>
  <mapping resource="xmls/DeliverableAffiliations.hbm.xml"/>
  <mapping resource="xmls/DeliverableAltmetricInfo.hbm.xml"/>
  <mapping resource="xmls/ActivitiesTitles.hbm.xml"/>
  <mapping resource="xmls/ClusterTypes.hbm.xml"/>
  <mapping resource="xmls/ProjectDeliverableShared.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyProjectOutcomes.hbm.xml"/>
  <mapping resource="xmls/ProjectInnovationProjectOutcomes.hbm.xml"/>
  <mapping resource="xmls/DeliverableProjectOutcomes.hbm.xml"/>
  <mapping resource="xmls/Safeguard.hbm.xml"/>
  <mapping resource="xmls/FeedbackQACommentableFields.hbm.xml"/>
  <mapping resource="xmls/FeedbackQAReplies.hbm.xml"/>
  <mapping resource="xmls/FeedbackQAComments.hbm.xml"/>
  <mapping resource="xmls/DeliverableCrpOutcomes.hbm.xml"/>
  <mapping resource="xmls/Timeline.hbm.xml"/>
  <mapping resource="xmls/FeedbackStatuses.hbm.xml"/>
  <mapping resource="xmls/FeedbackPermissions.hbm.xml"/>
  <mapping resource="xmls/FeedbackRolesPermissions.hbm.xml"/>
  <mapping resource="xmls/ProjectExpectedStudyCrpOutcomes.hbm.xml"/>
  <mapping resource="xmls/ButtonGuideContents.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
