#configuration for developer machine
# BD
mysql.host=localhost
mysql.user=user
mysql.password=password
mysql.database=database_name
mysql.url=jdbc:mysql://localhost:3306/database_name
mysql.port=3306

# -----------------------------
marlo.baseUrl=https://localhost/marlo-web/

# ----------------------------------------------------
#                   Sections Variables
# ----------------------------------------------------

# ------------------------------------------------
# Email account
# ------------------------------------------------

# Mail configuration
email.notification=ccafsap@gmail.com
#gmail.password=emailpassword
email.user=user
email.password=password
email.host=host
email.port=port

# -----------------------------------------------
# TEST MODE
# ------------------------------------------------
marlo.production=false
marlo.debug=false

# ------------------------------------------------
# Logger properties
# ------------------------------------------------

log.folder=C:/logs
log.console=true
log.file=false
!Production log only shows logs of type info, warn and error 
log.production=false
!Test log shows logs of all types trace, debug, info, warn and error 
log.test=true