# Dependencies
node_modules/
.venv/
venv/
__pycache__/
*.pyc

# Build / deploy
dist/
build/
.aws-sam/
.terraform/
*.zip
package-lock.json
poetry.lock

# Environment
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
*.sws
.DS_Store
Thumbs.db

# Logs
*.log
