.acronymBlock {float: left;width: 18%;padding-left: 0;padding-right: 1%;}

.nameBlock {padding: 0;width: 60%;float: left;}

.buttonBlock {width: 20%;padding-right: 0;float: right;}

li.targetUnit {
  float: left;
  width: 49%;
  margin-left: 1%;
}