.tl-slidenav-previous {
  top: 5px !important;
  display: none !important;
}

.tl-slidenav-next {
  top: 5px !important;
  display: none !important;
}

.tl-slidenav-content-container {width: 506px;}

.tl-slidenav-description {
  display: none;
}

.tl-slidenav-title {
  display: none;
}

.tl-text-content-container {
  /* margin-top: 0.2em; */
}

.tl-text h2.tl-headline-title, .tl-text h2.tl-headline{
  font-size: 1.4em;
  margin: 0;
}

h3.tl-headline-date {
  display: none;
}

.tl-slide-text-only .tl-slide-content-container .tl-slide-content .tl-text {
  width: 90% !important;
  max-width: 90% !important;
  padding: 5px;
}

.tl-attribution span {
  display: none !important;
}

.tl-menubar-button {
  padding: 5px;
  font-size: 15px;
}

.tl-slide-content-container {
}

.tl-slide-scrollable-container {
}

div#ccafs-planning-2018 {
}

.tl-storyslider {
  /* border-radius: 5px; */
  /* display: none; */
  width: 12%;
  float: left;
  height: 100% !important;
}

span.tl-icon-goback {
  /* display: none; */
}

div#tl-adnyds {}

.tl-menubar {
  /* display: none; */
  left: 12%;
  top: 1px !important;
}

.tl-timenav {
  width: 88%;
  float: right;
  border: 1px solid #f1f1f1;
}

.tl-slidenav-icon {
}

.tl-slide-content {
  width: 100% !important;
}

.tl-timeaxis-background {
  height: 35px;
}

.tl-timenav-line {}

.tl-timegroup-message {
  font-size: 0.9em;
}

.tl-attribution {
  display: none;
}