svg > g > g:last-child {
  pointer-events: none
}

table {}

.annualReport-table {
  display: inline-block;
  margin-bottom: 0;
}

span.powb-doc.badge {
  background-color: #0d8dc0;
}

.label-powb-table {
  margin-bottom: 5px;
  margin-left: 5px;
}

.powb-label {
  width: 100%;
}

table tr {
  list-style: none;
  padding-bottom: 9px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 0.95em;
}

table tr.text-small {
  font-size: 0.85em;
}

table tr a {
  color: #1da5ce;
  text-decoration: underline;
}

table:not(.financial-report) thead th {
  background: #95a6d1;
  color: #ffffff;
  padding: 9px;
}

td {
  padding: 3px 10px;
  vertical-align: middle !important;
}

span.icon-20 {
  margin-top: 7px;
}

table:not(.financial-report) {
  border: 1px solid #e6e6e6;
  font-size: 0.95em;
}

.outcomeStatement {
  float: left;
}

table ul {
  padding-left: 15px;
}

/** MARLO Responsibe Tables **/
.table-responsive table {
  min-width: 1500px;
  margin-bottom: 0;
}

.table-responsive {
  border: 1px solid #ddd;
  max-height: 500px;
}

.table > thead > tr > th {
  vertical-align: middle;
}

form .form-group.margin-panel {
  /* margin-bottom: 40px; */
}

.table-border {
  border-collapse: collapse;
}

.table-border td {
  border: 1px solid rgb(224, 224, 224);
}

.table-border tr:nth-child(even) {
  background-color: #fcfcfc;
}

/************* 1.1 ToC Adjustments/Changes ***************/
.table-flagshipsAdjustments .flagship-name, .table-flagshipsAdjustments .narrative {
  padding-top: 8px;
  padding-bottom: 8px;
}

/************* 1.2 Expected CRP Progress ***************/
.powbOutcome {
  padding-top: 16px;
}

.powbMilestone {
  padding-top: 20px;
}

.milestoneContributionButton {
  margin-left: 10px;
}

/************* 1.3 Evidence ***************/
.evidence-plannedStudies-header .flagship-planned-studies-button {
  position: absolute;
  margin-top: 15px;
  padding: 5px;
  font-size: 85%;
  right: 0;
  margin-right: 25px;
  cursor: pointer;
}

.evidence-plannedStudies-header .flagship-planned-studies-button:hover {
  background-color: #41b9dd;
}

.label-min-width {
  max-width: 85% !important;
}

.annual-report-table .subHeader th {
  text-align: center;
}

#table-plannedStudies .relevantSubIDO ul {
  padding-left: 12px;
}

#table-plannedStudies .relevantSubIDO ul li {
  margin-bottom: 3px;
}

.modal-content {
  /* padding: 20px; */
}

.modal-content h3.subTitle.headTitle {
  display: inline;
}

.modal-dialog.modal-lg.bigger {
  width: 95%;
}

.table-plannedStudies td.checkbox {
  display: table-cell;
}

.plannedStudiesCheckbox p.checked {
  height: 20px;
  margin-left: 15px;
}

tfoot {
  font-weight: bold;
}

/* View more */
.viewMoreSyntesis-block {
  overflow: hidden;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  transition: height 1s;
  position: relative;
  margin-bottom: 30px;
}

.viewMoreSyntesis {
  color: #2196f3;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  /* border: 1px solid #dddddd; */
  border-top: 0;
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 99.5%;
  /* margin: 2px 1px 0 1px; */
  cursor: pointer;
  padding: 16px 7px 0px 0;
  height: 43px;
  font-weight: 900;
  text-align: center;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 0%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, #fff));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 50%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 50%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 50%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#ffffff 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.viewMoreSyntesis.opened{
  background: none;
}

.viewMoreSyntesis:hover {
  color: #999;
  text-decoration: underline;
}

#tableE td {
  padding: 4px;
}

.powb-submenuItem {
  padding: 6px 6px 6px 0;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  height: 32px;
  vertical-align: middle;
  border-radius: 2px;
  color: #a9a9a9;
  text-decoration: none;
  position: relative;
}

.powb-submenuItem.active {
  background-color: #1da5ce;
  color: #fff;
  border-color: #1c96bb;
}

.powb-submenuItem img.check {
  position: absolute;
  right: 3px;
  bottom: 6px;
}

li#menu-melia a, li#menu-plannedVariance a {
  font-size: 0.95em;
}

/************* 3.3 Financial Summary ***************/
.expandableBlock .blockTitle.opened {
  opacity: 1 !important;
}

table.financial-report .row-title {
  color: #ceb286;
}

.chartBox {
  background: url(../../../global/images/saving.gif) no-repeat;
  background-position: 50%;
  /* height: 500px; */
  padding: 1em;
  padding-top: 0;
  margin: 0;
  color: #8c8c8c;
}

.chartBox.loaded {
  background: #fff;
}

.numberBox {
  font-family: Roboto;
}

.numberBox label {
  font-size: 1.1em;
  font-weight: normal;
}

.numberBox span {
  font-size: 2em;
}

#chart1 {
  height: 300px;
}
#chart2 {
  height: 180px;
}
#chart3 {
  height: 280px;
}
#chart4 {
  height: 280px;
}
#chart5 {
  height: 180px;
}


.dataTables_scrollBody {
  border-bottom: 1px solid #e6e6e6;
}

.dataTables_scrollBody thead tr{
  height: 3px !important;
}

.dataTables_scrollBody thead tr th{
  background-color: #e5edff !important;
}

.cc-milestones h5 {
  margin-top:30px;
}

li#menu-crpProgress {
  font-size: 0.87em !important;
}