#evidenceTypes th{
 color: #5e5d5d !important;
}

.checkboxDiTeAr{
  display: flex;
  align-items: center;
  justify-content: center;

}

.contentCheckBox{
  color: white;
  font-weight: 1000;
  background-color: #b0b99d;
  border-radius: 5px;
  padding: 0px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

svg > g > g:last-child {
  pointer-events: none
}

table {
}

.annualReport-table {
  display: inline-block;
  margin-bottom: 0;
}

span.powb-doc.badge {
  background-color: #0d8dc0;
}

.label-powb-table {
  margin-bottom: 5px;
  margin-left: 5px;
}

.powb-label {
  width: 100%;
}

table tr {
  list-style: none;
  padding-bottom: 9px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 0.95em;
}

table tr.text-small {
  font-size: 0.85em;
}

table tr a {
  color: #1da5ce;
  text-decoration: underline;
}

table:not(.financial-report) thead th {
  background: #f9f9f9;
  /* color: #ffffff; */
  padding: 9px;
}

td {
  padding: 4px 10px;
  vertical-align: middle !important;
}

td.tableTitle {
  background: #f9f9f9;
  padding: 9px;
  font-weight: bold;
}

table th.numbersTitle {
    background: transparent !important;
    border: 1px solid transparent !important;
    border-right: 1px solid #ddd !important;
    border-bottom: 2px solid #ddd !important;
}

table.numberPublicationsTable{
  border: 0px solid transparent;
}

span.icon-20 {
  margin-top: 7px;
}

table:not(.financial-report) {
  border: 1px solid #e6e6e6;
  font-size: 0.95em;
}

.outcomeStatement {
  float: left;
}

table ul {
  padding-left: 15px;
}

table.milestones-crosscutting {
  border:none;
}

.milestones-crosscutting th {
  background: transparent !important;
  font-weight: 600;
  padding: 0 !important;
}

.milestones-crosscutting td {
  background: #fafafa;
}

.milestones-crosscutting tr {
  border-bottom: 5px solid #ffffff;
}

.milestones-crosscutting td.row-title {
  font-weight: 600;
}


/** MARLO Responsibe Tables **/
.table-responsive table {
  /* min-width: 1500px; */
  margin-bottom: 0;
}

.table-responsive {
  padding: 15px 0;
  /* border: 1px solid #ddd; */
  max-height: 500px;
}

.table > thead > tr > th {
  vertical-align: middle;
}

form .form-group.margin-panel {
  /* margin-bottom: 40px; */
}

.table-border {
  border-collapse: collapse;
}

.table-border tbody td {
  border-bottom: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(241, 240, 240);
}

.table-border tr:nth-child(even) {
  background-color: #fcfcfc;
}

/************* 1.1 ToC Adjustments/Changes ***************/
.table-flagshipsAdjustments .flagship-name, .table-flagshipsAdjustments .narrative {
  padding-top: 8px;
  padding-bottom: 8px;
}

/************* 1.2 Expected CRP Progress ***************/
.powbOutcome {
  padding-top: 16px;
}

.powbMilestone {
  padding-top: 20px;
}

.milestoneContributionButton {
  margin-left: 10px;
}

/************* 1.3 Evidence ***************/
.evidence-plannedStudies-header .flagship-planned-studies-button {
  position: absolute;
  margin-top: 15px;
  padding: 5px;
  font-size: 85%;
  right: 0;
  margin-right: 25px;
  cursor: pointer;
}

.evidence-plannedStudies-header .flagship-planned-studies-button:hover {
  background-color: #41b9dd;
}

.label-min-width {
  max-width: 85% !important;
}

.annual-report-table .subHeader th {
  text-align: center;
}

#table-plannedStudies .relevantSubIDO ul {
  padding-left: 12px;
}

#table-plannedStudies .relevantSubIDO ul li {
  margin-bottom: 3px;
}

.modal-content {
  /* padding: 20px; */
}

.modal-content h3.subTitle.headTitle {
  display: inline;
}

.modal-dialog.modal-lg.bigger {
  width: 95%;
}

.table-plannedStudies td.checkbox {
  display: table-cell;
}

.plannedStudiesCheckbox p.checked {
  height: 20px;
  margin-left: 15px;
}

tfoot {
  font-weight: bold;
}

/* View more */
.viewMoreSyntesis-block {
  overflow: hidden;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  transition: height 1s;
  position: relative;
  margin-bottom: 30px;
}

.viewMoreSyntesis {
  color: #2196f3;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  /* border: 1px solid #dddddd; */
  border-top: 0;
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 99.5%;
  /* margin: 2px 1px 0 1px; */
  cursor: pointer;
  padding: 16px 7px 0px 0;
  height: 43px;
  font-weight: 900;
  text-align: center;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 0%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, #fff));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 50%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 50%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 50%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#ffffff 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.viewMoreSyntesis.opened {
  background: none;
}

.viewMoreSyntesis:hover {
  color: #999;
  text-decoration: underline;
}

#tableE td {
  padding: 4px;
}

.powb-submenuItem {
  padding: 6px 6px 6px 0;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  height: 32px;
  vertical-align: middle;
  border-radius: 2px;
  color: #a9a9a9;
  text-decoration: none;
  position: relative;
}

.powb-submenuItem.active {
  background-color: #1da5ce;
  color: #fff;
  border-color: #1c96bb;
}

.powb-submenuItem img.check {
  position: absolute;
  right: 3px;
  bottom: 6px;
}

li#menu-melia a, li#menu-plannedVariance a {
  font-size: 0.95em;
}

/************* 3.3 Financial Summary ***************/
.expandableBlock .blockTitle.opened {
  opacity: 1 !important;
}

table.financial-report .row-title {
  color: #ceb286;
}

.chartBox {
  background: url(../../../global/images/saving.gif) no-repeat;
  background-position: 50%;
  min-height: 100px;
  padding: 1em;
  padding-top: 0;
  margin: 0;
  color: #8c8c8c;
}

.chartBox.loaded {
  background: #fff;
}

.numberBox {
  font-family: Roboto;
}

.numberBox label {
  font-size: 1.1em;
  font-weight: normal;
}

.numberBox span {
  font-size: 2em;
}

#chart1 {
  height: 300px;
}

#chart2 {
  height: 180px;
}

#chart3 {
  height: 280px;
}

#chart4 {
  height: 280px;
}

#chart5 {
  height: 180px;
}
#chart6 {
  height: 294px;
}

#chart7 {
  height: 200px;
}

#chart8, #chart9 {
  height: 220px;
}

#chart10, #chart11 {
  height: 220px;
}

.dataTables_scrollBody {
  border-bottom: 1px solid #e6e6e6;
}

.dataTables_scrollBody thead tr {
  height: 3px !important;
}

.dataTables_scrollBody thead tr th {
  background-color: #d8d8d8 !important;
}

.cc-milestones h5 {
  margin-top: 30px;
}

li#menu-crpProgress {
  font-size: 0.9em !important;
}

li#menu-oicr {
  font-size: 0.86em !important;
}

.modal-dialog.modal-lg {
  max-width: 1250px;
  width: 99%;
}

/* Bootstrap Tabs */
.tab-content {
  background: #fff;
  border-radius: 5px;
  display: block;
  padding: 13px 27px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  }

.tab-content>.active {
}

.nav-tabs {
  border-bottom: 1px solid #dedede;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-top: 4px solid #1882aa;
  border-bottom-color: transparent;
  font-weight: bold;
  /* color: #0377a3; */
  /* background-color: #f5f5f5; */
}

.nav-tabs>li>a.fieldError {
  color: #ff4444 !important;
  font-weight: bold;
}

.nav-tabs>li>a {
  color: #6f6f6f;
  border-radius: 0 0 0;
  padding: 14px 22px !important;
  border: 1px solid #dedede;
  height: 48px;
}


/* Markers*/

p.dacMarker {
  background: #ececec;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  padding: 4px;
  margin: 0 auto;
}

p.dacMarker.level-2 {
  background: #a8ceec;
  color: #fff;
}

p.dacMarker.level-3 {
  background: #5db0f3;
  color: #fff;
}

p.dacMarker.level-4 {
  font-size: 0.85em;
  padding: 6px 0;
}

.authorsList {
  max-height: 80px;
  max-width: 180px;
  overflow: auto;
  align-items: center;
}

.modal-body {
  overflow: auto;
}

div#chart12 {
  height: 222px;
}

div#chart13 {
  height: 222px;
}

.urlify {
  word-break: break-word;
}

.primaryTag{
  margin-right: 10px;
  padding: .3em .7em .45em;
}
.mt-1{
  margin-top: 4px;
}

.evidenceD-export {
  margin-right: 5px;
}

.missingFieldFp{
  margin-top: 16px;
  text-align-last: right;
}

.slo-contribution-section-hide{
  display: none;
}

.to-disabled-box{
  position: relative;
}

.disabled-box{
  display: none;
  position: absolute;
  background-color: #ffffff67;
  filter: blur(100%);
  width: 100%;
  height: 100%;
  z-index: 998;
}

.colTitleCenter{
  text-align: center;
}

.rectGray{
  padding: 5px 0px;
  background-color: #fafafa;
  margin: 5px 0px;
}

.boldCell{
  font-weight: 600;
}
.helpTextPOWB{
  color: #949393;
  margin: 3px 0px 0px 0px !important;
  font-size: .9em;
  font-style: italic;
}

.TdSroll{
  overflow: auto;
  /* max-width: 200px; */
  white-space: nowrap;
}

.TdSroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

/* Track */
.TdSroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.TdSroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888; 
}

/* Handle on hover */
.TdSroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container-links{
  position: inherit;
  display: flex;
  height: 2.5rem;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  margin: 0.8rem 0 0 0;
}

.container-evidences{
  display: flex;
}

.container-evidences .button-evidences {
  background-color: #0779a4;
  min-width: 120px;
  height: 34px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 430;
  border: #0779a4 solid 2px;
  color: #ffffff;
  animation-delay: 3s;
  animation-duration: 3s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.container-evidences .button-evidences p{
  margin: auto;
}

.button-evidences:focus-visible {
 color: red;
}

.container-evidences .text-evidences{
  padding-right: 20px;
  font-weight: 620;
}

.modal-evidences{
  display: flex;
  background-color: #50505070;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}


.button-exit{
 float: right;
 font-size: 18px;
 cursor: pointer;
}

.x-close-modal{
  padding: 10px 20px;
  background-image: url(../../../global/images/icon-remove.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D5504C;
  /* position: absolute; */
  top: 0;
  right: 0;
  border-radius: 0px 3px 0px 8px;
  cursor: pointer;
  margin: -23px -40px 0px 0px;
}

.title-modal-evidences{
  font-size: 25px;
  font-weight: 600;
  margin-top: -8px;
}

.text-modal-evidences{
  margin-top: 25px;
}

.content-modal{
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
}

.container-buttons-evidences{
  float: right;
  display: flex;
}

.button-pdf-modal{
  background-color: #ffffff;
  min-width: 160px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  border: #f79090 solid 2px;
  color: #ff6464;
}

.button-pdf-modal p{
  margin: auto;
}

.button-pdf-modal img{
  width: 20px;
  margin-right: 10px;
}

.button-close-modal{
  background-color: #0779a4;
  min-width: 120px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  /* border: #0779a4 solid 2px; */
  color: #ffffff;
  margin-left: 11px;
}

.button-close-modal p{
  margin: auto;
}

.milestoneYear .container-evidences{
  display: none;
}

#milestoneYear-0 .container-evidences{
  display: flex !important;
}

