.ppaPartnersList{
  position:relative;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 4px;
  padding: 2px 10px;
}

i.flag-sm {
  margin-top: 4px;
}

.locElement {
  width: 32%;
  margin-right: 1%;
  float: left;
  padding: 0 !important;
  font-size: 0.9em;
}

.locElement span{ 
}

.countries-list .note {
  padding: 0;
  margin-top: 5px;
}

p.fieldErrorInstitutions {
  font-weight: bold;
  color: red;
}

p.fieldErrorInstitutions i {
  color: #e84444;
}