#projectOutcomesList {
}

.generalInformationStudies {
  position: relative;
}

.generalInformationStudies .form-group {
  position: relative;
}

.generalInformationStudies .form-group .line-hr{
  position: absolute; 
  top: 12.5%;
  height: 2px;
  background-color: #CCC;
  width: 68%;
  left: 15px;
}

.generalInformationStudies .form-group .feedback-flex-items{
  align-items: flex-end;
}

.generalInformationStudies label{
  font-size: 12px;
  margin-bottom: 1.25rem;
  max-width: 120%;
  width: 120%;
}

.copyButton{
  position: relative;
  top: 11px;
}

#projectHighlights tr {
  list-style: none;
  padding-bottom: 9px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 0.95em;
}

#projectHighlights tr a {
  color: #444;
}

.generalStudyOptions{
  padding: 0 15px 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.generalStudyOptions button{
  width: 100%;
  color: #fff;
  border-radius: 0.3125rem;
  background: #337AB7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.generalStudyOptions button p{
  margin: 0;
}

.generalStudyOptions button p span{
  margin-right: 0.25rem;
}

#modalCounterShared{
  background-color: #fff;
  color: #337AB7;
  width: 16px;
  border-radius: 100%;
}

thead {
  background: #f5f5f5;
  color: #a9a8a8;
}

td {
  vertical-align: middle !important;
}

span.icon-20 {
  margin-top: 7px;
}

table#projectHighlights {
  border: 1px solid #e6e6e6;
  font-size: 0.94em;
}

/* NEW */
.panel .panel-body {
  min-height: 38px;
}

.quantification {
  padding-top: 20px;
}

.optionPublicComponent button {
  padding: 3px 10px 4px 10px;
}

#guide-button{
  display: block;
}