#projectOutcomesList {
}

.studiesTab{
  margin-top: 2rem;
}

li[role="presentation"] {
  margin-right: 0;
  padding: 0;
}

ul.nav li a {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.nav-tabs>li>a {
  color: #6f6f6f;
  border-radius: 0 0 0;
  padding: 14px 22px !important;
  border: 1px solid #f1f1f1;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-top: 4px solid #1882aa;
  border-bottom-color: transparent;
  font-weight: bold;
}

.tab-content>.active {
  display: block;
  /* background-color: #f5f5f5; */
  padding: 12px 14px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.nav-tabs li.submitted a {
  background-image: url(../../../global/images/submitted.png?20190411);
  background-repeat: no-repeat;
  /* background-size: 15px; */
  background-position: 97% -50%;
}

.nav-tabs li.toSubmit a {
  background-image: url(../../../global/images/submitted.png?20190411);
  background-repeat: no-repeat;
  background-position: 97% 150%;
}

.generalInformationStudies {
  position: relative;
}

.generalInformationStudies .form-group {
  position: relative;
}

.generalInformationStudies .form-group .line-hr{
  position: absolute; 
  top: 14%;
  height: 2px;
  background-color: #CCC;
  width: 68%;
  left: 15px;
}

@media screen and (max-width: 768px) {
  .generalInformationStudies .form-group .line-hr{
    width: 100%;
  }
  
}

@media screen and (max-width: 1366px) {
  .generalInformationStudies .form-group .line-hr{
    width: 70%;
  }
  
}

@media screen and (max-width: 1978){
  .generalInformationStudies .form-group .line-hr{
    width: 71%;
  }
}

.generalInformationStudies .form-group .feedback-flex-items{
  align-items: flex-end;
}

.generalInformationStudies label{
  font-size: 12px;
  margin-bottom: 1.25rem;
  max-width: 180%;
  width: 180%;
}

.copyButton{
  position: relative;
  top: 11px;
}

#projectHighlights tr {
  list-style: none;
  padding-bottom: 9px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 0.95em;
}

#projectHighlights tr a {
  color: #444;
}

.generalStudyOptions{
  padding: 0 15px 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.generalStudyOptions button{
  width: 100%;
  color: #fff;
  border-radius: 0.3125rem;
  background: #337AB7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.generalStudyOptions button p{
  margin: 0;
}

.generalStudyOptions button p span{
  margin-right: 0.25rem;
}

#modalCounterShared{
  background-color: #fff;
  color: #337AB7;
  width: 16px;
  border-radius: 100%;
}

div.nationalBlock div.selectList span.selection{
  height: 50px;
}

div.nationalBlock div.selectList span.selection span.select2-selection{
  position: relative;
  width: 170px;
}

div.nationalBlock div.selectList span.selection span.select2-selection::before{
  content: "Select a Country(s)";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}

div.nationalBlock div.selectList span.selection span.select2-selection ul{
  position: absolute;
  top: 30px;
  overflow:visible;
}

.margin-top-10{
  margin-top: 1rem;
}

thead {
  background: #f5f5f5;
  color: #a9a8a8;
}

td {
  vertical-align: middle !important;
}

span.icon-20 {
  margin-top: 7px;
}

table#projectHighlights {
  border: 1px solid #e6e6e6;
  font-size: 0.94em;
}

.radioToCheckbox .radioFlat {
  padding-left: 0;
} 

#innerCheckbox {
  padding-left: 20px;
}

/* NEW */
.panel .panel-body {
  min-height: 38px;
}

.quantification {
  padding-top: 20px;
}

.optionPublicComponent button {
  padding: 3px 10px 4px 10px;
}

#guide-button{
  display: block;
}