.outcomesListBlock {width: 82%;}

.addOutcomeBlock {position: absolute;right: 0;bottom: 0;width: 17.5%;}

.addNewOutcome {
    position: relative;
    margin: 13px 0;
}

ul#projectOutcomesList {}

ul#projectOutcomesList li{
    list-style: none;
    padding-bottom: 9px;
}

ul#projectOutcomesList li a{
   color: #444;
}

.tab-content.projectOutcomeYear-content {
    border: 1px solid #d1d1d1;
    padding: 10px 2em;
    border-radius: 0px 4px 4px 4px;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs {
    border: 0;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs li a{
    background-color: #f5f5f5;
    line-height: 1em;
    padding: 5px 15px;
    height: 29px;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs>li.active>a, 
ul.nav.nav-tabs.projectOutcomeYear-tabs>li.active>a:focus, 
ul.nav.nav-tabs.projectOutcomeYear-tabs>li.active>a:hover {
    background-color: #fff;
    line-height: 1em;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs>li {
    /* border-bottom: 1px solid #dddddd; */
    margin-bottom: -1px;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs>li.active {
    border-bottom: 1px solid #fff;
    z-index: 10;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs>li>a:hover {
    border-color: #eee #eee #fff;
}

.milestonesYearSelect {
    border: 1px dashed #E4E4E4;
    margin-top: 14px;
    margin-bottom: 1em;
    padding: 13px;
    color: #94988b;
}

.milestoneYear {
    padding-top: 20px !important;
}

.nextUser {
    padding-top: 21px;
}

h4.headTitle {
    margin-top: 1.5em;
}