
#projectOutcomesList {}

#projectHighlights tr{
    list-style: none;
    padding-bottom: 9px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 0.95em;
}

#projectHighlights tr a{
   color: #444;
}

a {}

thead {
    background: #f5f5f5;
    color: #a9a8a8;
}

td {
    vertical-align: middle !important;
}

span.icon-20 {
    margin-top: 7px;
}

table#projectHighlights {
    border: 1px solid #e6e6e6;
    font-size: 0.94em;
}

#guide-button{
    display: block;
}
/* Add styles to the table */
.dataTables_wrapper {
    position: relative;
  }
  
  .dataTables_filter{
    float: left !important;
  }
  
  .dataTables_filter label input{
    height: 30px !important;
    width: 295px !important;
    margin-left: -44px !important;
  }
  
  .iconSearch{
    background: #0b7ba6;
    height: 30px;
    width: 40px;
    position: absolute;
    margin-left: 285px;
    border-radius: 0px 4px 4px 0px;
    display: flex;
  }
