.outcomesListBlock {width: 82%;}

.addOutcomeBlock {position: absolute;right: 0;bottom: 0;width: 17.5%;}

.addNewOutcome {
    position: relative;
    margin: 13px 0;
}

#projectOutcomesList {}

#projectOutcomesList tr{
    list-style: none;
    padding-bottom: 9px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 0.95em;
}

#projectOutcomesList tr a{
   color: #444;
}

a {}

thead {
    background: #f5f5f5;
    color: #a9a8a8;
}

td {
    vertical-align: middle !important;
}

span.icon-20 {
    margin-top: 7px;
}

.select2-results__option {
    border: 1px dashed #e6e6e6;
    padding: 5px 10px;
    border-top: none;
}

/*Tabs*/

.tab-content.projectOutcomeYear-content {
    border: 1px solid #d1d1d1;
    padding: 10px 2em;
    border-radius: 0px 4px 4px 4px;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs {
    border: 0;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs li a{
    background-color: #f5f5f5;
    line-height: 1em;
    padding: 5px 15px;
    height: 29px;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs>li.active>a, 
ul.nav.nav-tabs.projectOutcomeYear-tabs>li.active>a:focus, 
ul.nav.nav-tabs.projectOutcomeYear-tabs>li.active>a:hover {
    background-color: #fff;
    line-height: 1em;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs>li {
    /* border-bottom: 1px solid #dddddd; */
    margin-bottom: -1px;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs>li.active {
    border-bottom: 1px solid #fff;
    z-index: 10;
}

ul.nav.nav-tabs.projectOutcomeYear-tabs>li>a:hover {
    border-color: #eee #eee #fff;
}