.helpMessage {
    height: 50px;
    width: 400px;
}

.templateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropFileParentContainer {
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropFileContainer {
    width: 60%;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcfcfc;
    border: 1px dashed #cecece;
    border-radius: 10px;
}

#safeguard {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

label.browseFile {
    font-weight: 600;
    color: white;
    background: #2c5dc7;
    padding: 6px 10px;
    border-radius: 3px;
    width: 140px;
    text-align: center;    
  transition: box-shadow 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

label.browseFile:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
}

p.checked {
    width: 100%;
    padding: 3px 25px 3px 25px !important;
    background-color: #ffffff;
}

.contentResult {  
    word-wrap: break-word;
}

.removeIcon {
    padding: 13px !important;
}

.uploadPDFTitleContainer .fileIcon{
    /* padding-bottom: 20px; */
    /* height: 100px; */
    width: 70px;
    padding-bottom: 10px;
}

.fileSupported {
    display: flex;
    color: #a7a7a7;
    margin-bottom: 7px;
}

.fileSupported .fileIconPdf{
    padding-left: 10px;
    height: 20px;
}