#dashboardContent {float: left;display: inline-block;width: 58%;margin-left: 2%;}

#dashboardContent li a{
  background-color: white;
  color: black;
  border: 1px solid #dddddd;
  /* top: 5px; */
}

#dashboardContent li a:hover{
  background-color: #69aec8;
  color:white;
}

#dashboardContent li.active a{
  background-color: rgb(17, 127, 168);
  color: white;
  bottom: 0px;
  height: 42px;
}

#decisionTree {
    margin-bottom: 50px;
}

#timeline {
    width: 100%;
    margin: 10px 0 0 0;
    overflow: hidden;
    background: url('./../../global/images/backgroundTimeline.png') left 45px repeat-x;
    background-size: 0.5% 0.5%;
    height: 360px;
}

#dates {
      width: 800px;
      height: 70px;
      overflow: hidden;
    }

#dates li {
  background: url('./../../global/images/backgroundTimeline.png') center bottom no-repeat;
  background-size: 16% 30%;
  list-style: none;
  float: left;
  width: 100px;
  height: 53px;
  font-size: 14px;
  text-align: center;
}

#dates a {
  text-decoration: none;
  line-height: 50px;
  padding-bottom: 10px;
}

#dates .selected {
  color:#117fa8;
  font-size: 20px;
  line-height: 41px;
}

#issues {
  width: 100%;
  height: 238px;
  overflow: hidden;
  padding: 0;
}

#issues li {
  width: 350px;
  /* height: 200px; */
  list-style: none;
  float: left;
}

#issues li h1 {
  color:black;
  font-size: 1.5em;
  margin: 20px 0;
  text-align:center;
}

#issues li p {
  width: 100%;
  font-size: 14px;
  margin-right: 70px;
  font-weight: normal;
  line-height: 22px;
  /* text-align: center; */
}

#infoRelations {
    display: none;
    position: absolute;
    width: 90%;
    z-index: 99;
    bottom: 0;
}

#infoRelation {
    position: absolute;
    width: 25%;
    z-index: 99;
}

#impactP {
    width: 100%;
    height: 100%;
}

#impactGraphic {
    width: 100%;
    height: 100%;
}

#infoContent {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 115px;
}



#shorcuts {
    width: 40%;
    float: left;
    display: inline-block;
}

.tab-content {
    border: 1px solid #dddddd;
    border-top: none;
}

#contentGraph {
    height: 330px;
}

#myProjects {
    padding: 15px;
}


#projects_wrapper {
    margin-bottom: 0;
}

#buttonShowAll {
    position: absolute;
    /* right: 2%; */
    /* top: 16%; */
    z-index: 100;
    text-align: center;
    /* width: 3%; */
    background-color: #2BA6CB;
    color: #fff;
    border: 0;
    padding: 3px 5px;
    font-weight: bold;
    border-bottom: 3px solid #1E94B8;
    border-radius: 6px;
}
#controls {
    border: 1px solid #ddd;
    position: absolute;
    top: 24%;
    width: 5%;
    z-index: 999;
    right: 2.6%;
    background-color: whitesmoke;
    /* padding: 5px; */
}

.tool {cursor: pointer;padding: 20%;text-align: center;font-size: 1.6em;width: 100%;padding-top: 40%;}

.tool:hover {
    color: #2ba6cb;
}

#fullscreen{
	position: absolute;
    right: 4%;
    top: 14%;
    z-index: 100;
    text-align: center;
    background-color: #117fa8;
    color: #fff;
    border: 0;
    padding: 7px 7px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

div#impactGraphic-fullscreen {
    width: 100%;
    height: 100%;
}

span.leftControl {
    left: 5px;
}

span.rigthControl {
    right: 5px;
}

span.timelineControl {
    position: absolute;
    cursor: pointer;
    color: #0e697d;
    top: 58px;
}

span.timelineControl:hover {
    color: #117fa8;
}