#dashboardContent {float: left;display: inline-block;width: 58%;margin-left: 2%;}

#dashboardContent li a{
  background-color: white;
  color: black;
  border: 1px solid #dddddd;
  /* top: 5px; */
}

#dashboardContent li a:hover{
  /* background-color: #69aec8; */
  color:white;
}

#dashboardContent li.active a{
  /* background-color: rgb(17, 127, 168); */
  color: #337ab7;
  bottom: 0px;
  height: 42px;
}

#timeline {
    width: 100%;
    margin: 10px 0 0 0;
    overflow: hidden;
    background: url('../../../global/images/backgroundTimeline.png') left 45px repeat-x;
    background-size: 0.5% 0.5%;
    height: 360px;
}

#dates {
      width: 800px;
      height: 70px;
      overflow: hidden;
    }

#dates li {
  background: url('../../../global/images/backgroundTimeline.png') center bottom no-repeat;
  background-size: 16% 30%;
  list-style: none;
  float: left;
  width: 100px;
  height: 53px;
  font-size: 14px;
  text-align: center;
}

#dates a {
  text-decoration: none;
  line-height: 50px;
  padding-bottom: 10px;
}

#dates .selected {
  color:#117fa8;
  font-size: 20px;
  line-height: 41px;
}

#issues {
  width: 100%;
  height: 238px;
  overflow: hidden;
  padding: 0;
}

#issues li {
  width: 350px;
  /* height: 200px; */
  list-style: none;
  float: left;
}

#issues li h1 {
  color:black;
  font-size: 1.5em;
  margin: 20px 0;
  text-align:center;
}

#issues li p {
  width: 100%;
  font-size: 14px;
  margin-right: 70px;
  font-weight: normal;
  line-height: 22px;
  /* text-align: center; */
}

#infoRelations {
    display: none;
    position: absolute;
    width: 90%;
    z-index: 99;
    bottom: 0;
}

#infoRelation {
    position: absolute;
    width: 25%;
    z-index: 99;
}

#impactP {
    width: 100%;
    height: 100%;
}

#impactGraphic {
    width: 100%;
    height: 100%;
}

#infoContent {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 115px;
}



#shorcuts {
    width: 40%;
    float: left;
    display: inline-block;
}

.tab-content {
    border: 1px solid #dddddd;
    border-top: none;
}

#contentGraph {
    height: 330px;
}

#myProjects {
    padding: 15px;
}

#myDeliverables {
    padding: 15px;
}

#myStudies {
    padding: 15px;
}

#myInnovations {
    padding: 15px;
}


#projects_wrapper {
    margin-bottom: 0;
}

#buttonShowAll {
    position: absolute;
    /* right: 2%; */
    /* top: 16%; */
    z-index: 100;
    text-align: center;
    /* width: 3%; */
    background-color: #2BA6CB;
    color: #fff;
    border: 0;
    padding: 3px 5px;
    font-weight: bold;
    border-bottom: 3px solid #1E94B8;
    border-radius: 6px;
}
#controls {
    border: 1px solid #ddd;
    position: absolute;
    top: 24%;
    width: 5%;
    z-index: 999;
    right: 2.6%;
    background-color: whitesmoke;
    /* padding: 5px; */
}

.tool {cursor: pointer;padding: 20%;text-align: center;font-size: 1.6em;width: 100%;padding-top: 40%;}

.tool:hover {
    color: #2ba6cb;
}

#fullscreen{
	position: absolute;
    right: 4%;
    top: 14%;
    z-index: 100;
    text-align: center;
    background-color: #117fa8;
    color: #fff;
    border: 0;
    padding: 7px 7px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

div#impactGraphic-fullscreen {
    width: 100%;
    height: 100%;
}

span.leftControl {
    left: 5px;
}

span.rigthControl {
    right: 5px;
}

span.timelineControl {
    position: absolute;
    cursor: pointer;
    color: #0e697d;
    top: 58px;
}

span.timelineControl:hover {
    color: #117fa8;
}

.homeTitleTimeline {
    display: flex;
    justify-content: center;
    font-size: 2.0em;
    color: #333;
    padding: 22px 30px 14px 14px;
    width: 100%;
    position: absolute;
  }
  
  .timeline{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    border-radius: 5px;
    height: 297px;
  }

  .porcentTimeLine {
    height: 6px;
    width: 70%;
    background: #eb9d46;
    position: absolute;
    margin-top: -56px;
    border-radius: 0 10px 10px 0;
    max-width: 195px;
  }
  
  .timeline-line{
    height: 6px;
    background: rgb(228, 228, 228);
    width: 243px;
    position: absolute;
    margin-top: -56px;
    border: none;
    z-index: -1;
  }
  
  .scroll-x-containerTimeline {
    position: relative;
    scroll-behavior: smooth;
    overflow-x: scroll;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    display: flex;
    margin-top: 63px;
  }
  
  
  
  .timeline-innerline {
    background-color: brown;
  
  }
  
  .containerTimeline {
    width: 90%;
    position: relative;
  }
  
  .infTimelineTimeline {
    min-width: 243px;
    text-align: center;
    position: relative;
    cursor: default;
  }
  
  .timeline-pointTimeline {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: rgb(228, 228, 228);
    max-width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    width: 30px;
    bottom: 39px;
    z-index: 1;
  }
  
  .titleTimeline {
    writing-mode: vertical-rl;
    height: 204px;
    -webkit-transform: rotate(270deg);
    text-align: left;
    color: #5f5e5e;
    /* padding-left: -25px; */
    /* font-weight: 500; */
    /* margin-bottom: -70px; */
    margin:  auto;
  }
  
  .dateTimeline {
    margin-right: -211px;
    margin-top: -30px;
  }
  
  .sideButtonTimeline {
    background:rgba(133, 133, 133, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    cursor: pointer;
  }
  
  .buttonLeftTimeline {
    left: -30px;
  }
  
  .buttonRightTimeline {
    right: -30px;
  }
  
  .timelineBackSuccess {
    background: #8eaf92;
  }
  
  .timelineBackAlert {
    background: #eb9d46;
  }
  
  .timelineColorSuccess {
    color: #8eaf92;
  }
  
  .timelineColorAlert {
    color: #da9343;
  }

  .timelineAlert {
    background-color: #ffde85;
    height: auto;
    width: 147px;
    position: absolute;
    right: 34px;
    top: 370px;
    -webkit-box-shadow: 1px 2px 8px rgb(0 0 0 / 12%);
    border-radius: 5px;
    padding-top: 12px;
  }
  
  .timelineAlertText {
    font-weight: 600;
    text-align: center;
    /* margin: auto; */
  }

  .imgTimeline {
    margin-top: 7px;
  }

  @media (max-width:750px){

    .buttonLeftTimeline {
      left: -10px;
    }

    .buttonRightTimeline {
      right: -10px;
    }

    .timelineAlert {
      top: 445px !important;
    }

    .timelineAlertText {
      font-size: 7px;
    }

    .infTimelineTimeline {
      min-width: 180px;
    }

    .titleTimeline {
      height: 142px;
      font-size: 10px;
    }

    .timeline {
      height: 243px;
    }

    .dateTimeline {
      margin-right: -130px;
      margin-top: -27px;
      font-size: 13px;
    }

    
    .timeline-line {
      width: 180px;
      margin-top: -48px;
    }

    .timeline-pointTimeline {      
      bottom: 32px;
    }

    .sideButtonTimeline {      
      width: 30px;
      height: 30px;
      font-size: 22px;
      top: 40%;
    }

    .porcentTimeLine {      
      margin-top: -48px;
      max-width: 143px;
  }
    
  }

  /*************** sectionMap ********************/

  .sectionMap{
    width: 100%;
    height: 210px;
    background: #0478a3;
    display: flex;
    /* border-radius: 0 0 50% 50%; */
    
  }

  .containerMapsection{
    display: flex;
  }

  .borderMap{
    width: 100%;
    height: 100px;
    background-image: url(../../../global/images/header.svg);
    background-repeat: no-repeat;    
    background-size: 100%;
    margin-top: -1px;    
    margin-bottom: -38px;
  }

  .containerTextMap{
    width: 100%;
    margin: 10px 240px 30px 40px;
    color: #fff;
    text-align: justify;
  }


  .containerTextMap .titleMap{
    font-size: 2em;
    font-weight: 700;
  }

  .containerTextMap .textMap{
    font-size: 17px;
  }

  .containerImgMap{
    min-width: 400px;    
    text-align: center;
    position: relative;
    float: left;
  }
  
  .containerImgMap img{    
    width: 200px;
    margin-top: 17px;
  }

.circleMap{
  width: 9px;
  height: 9px;
  background-color: #b3b3b3;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}


#cluster1{
  top: 80px;
  right: 273px;
}
#cluster2{
  top: 117px;
  right: 141px;
}
#cluster3{
  top: 101px; 
  right: 245px;
}
#cluster4{
  bottom: 110px;
  right: 147px;
}
#cluster5{
  bottom: 32px;
  right: 173px;
}
#cluster6{
  top: 16px;
  right: 207px;
}
#cluster7{
  top: 37px;
  right: 278px;
}
#cluster8{
  top: 93px;
  right: 290px;
}
#cluster9{
  top: 147px;
  right: 221px;
}
#cluster10{
  bottom: 31px;
  right: 132px;
}
#cluster11{
  top: 65px;
  right: 139px;
}
#cluster12{
  top: 70px;
  right: 248px;
}

.dialogMap{
  position: absolute;
  width: 200px;
  min-height: 100px;
  background: white;
  border-radius: 6px;
  text-align: initial;
  padding: 10px;
  -webkit-box-shadow:0px 0px 10px rgb(0 0 0 / 100%);
  display: none;
  z-index: 1;
}

.lineMap{
  position: absolute;
}

.dialogMapTitle{
  font-size: 17px;
  font-weight: 500;
}


@media (max-width:1770px){
  .containerTextMap {
    margin: 10px 50px 30px 40px;
  }
}

@media (max-width:1480px){
  .containerTextMap {
    margin: 10px -35px 30px 40px;
  }

  .containerImgMap {
    min-width: 350px;
  }

  .containerImgMap img {
    margin-top: 8px;
  }
  
  #cluster1{
    top: 70px;
    right: 249px;
  }
  #cluster2{
    top: 107px;
    right: 115px;
  }
  #cluster3{
    top: 91px; 
    right: 219px;
  }
  #cluster4{
    bottom: 120px;
    right: 122px;
  }
  #cluster5{
    bottom: 40px;
    right: 147px;
  }
  #cluster6{
    top: 6px;
    right: 185px;
  }
  #cluster7{
    top: 27px;
    right: 252px;
  }
  #cluster8{
    top: 83px;
    right: 264px;
  }
  #cluster9{
    top: 137px;
    right: 197px;
  }
  #cluster10{
    bottom: 41px;
    right: 108px;
  }
  #cluster11{
    top: 55px;
    right: 115px;
  }
  #cluster12{
    top: 60px;
    right: 223px;
  }
}

@media (max-width:1000px){

  .containerTextMap {
    margin: 10px 35px 30px 40px;
  }

  .containerTextMap .titleMap {
    font-size: 1em;
  }

  .containerTextMap .textMap {
    font-size: 10px;
  }

  .containerImgMap {
    min-width: 150px;
  }

  .containerImgMap img {
    width: 119px;
    margin-top: 8px;
  }

  .circleMap {
    display: none;
  }

 }

  /**************** Content Items Table **************/
  .containerTabletItems{
    display: block;
    padding: 30px 0px 45px 0;
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    border-radius: 5px;
  }

  .tableItemsTitle{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 2.0em;
    color: #333;
  }
  
  .containerSeccionItems {
    display: flex   ;
  }

  .containerItems {
    flex-wrap: wrap;
    width: 100%;
    display: table-cell;
    text-align: center;
    margin-left: 4px;
    display: block;
}

  .itemsTablet{
    height: 120px;
    width: 120px;
    -webkit-box-shadow: 1px 2px 8px rgb(0 0 0 / 25%);   
    margin: 10px auto;
    text-align: center;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
  }

  .itemsTablet:active{
    background: #c3e0f9;
  }

  .itemsActive{
    background: #c3e0f9;
  }

 .itemsTablet img{
  margin-top: 10px;
  width: 60px;
 }

 .itemsTablet p{
  font-weight: 700;
  font-size: 1.2em;
  color: rgb(110, 110, 110);
 }

 .containerTabletItems .nav{
  display: none;
 }

 .containerTabletItems .infTableItems{
    border: #ebebeb solid 1px;
    background: #E8F4FF;
    padding: 7px 18px;
    color: black;
 }

 .containerTabletItems .subHeader{
  background-color: #0377a3;

 }

 .containerTabletItems #dashboardContent{
  margin-top: 10px;
  margin-left: 20px;
  width: auto;
  margin-right: 30px;
 }

 .sectionItems{
  margin-left: 10px;
 }

 @media (max-width:750px){

  .containerItems {
    display: flex;
    justify-content: center;
}

  .containerSeccionItems {
    display: block;
  }

  .itemsTablet {
    height: 80px;
    width: 80px;
    margin: 10px;
  }

  .itemsTablet img {
    margin-top: 0px;
    width: 43px;
  }

  .itemsTablet p {
    font-size: 0.9em;
  }

  .containerTabletItems {
    height: 1000px;
  }

  .containerTabletItems .infTableItems {
    font-size: 10px;
  }

  table.dataTable {
    font-size: 0.7em;
  }
 }