#dashboardContent {float: left;display: inline-block;width: 58%;margin-left: 2%;}

#dashboardContent li a{
  background-color: white;
  color: black;
  border: 1px solid #dddddd;
  /* top: 5px; */
}

#dashboardContent li a:hover{
  background-color: #69aec8;
  color:white;
}

#dashboardContent li.active a{
  background-color: rgb(17, 127, 168);
  color: white;
  bottom: 0px;
  height: 42px;
}

#decisionTree {
    margin-bottom: 50px;
}

#timeline {
    width: 100%;
    margin: 20px 0 0 0;
    overflow: hidden;
    background: url('../../../global/images/backgroundTimeline.png') left 45px repeat-x;
    background-size: 0.5% 0.5%;
    height: 330px;
}

#dates {
      width: 800px;
      height: 70px;
      overflow: hidden;
    }

#dates li {
  background: url('../../../global/images/backgroundTimeline.png') center bottom no-repeat;
  background-size: 16% 30%;
  list-style: none;
  float: left;
  width: 100px;
  height: 53px;
  font-size: 14px;
  text-align: center;
}

#dates a {
  text-decoration: none;
  line-height: 50px;
  padding-bottom: 10px;
}

#dates .selected {
  color:#117fa8;
  font-size: 20px;
  line-height: 41px;
}

#issues {
  width: 100%;
  height: 200px;
  overflow: hidden;
  padding: 0;
}

#issues li {
  width: 350px;
  /* height: 200px; */
  list-style: none;
  float: left;
}

#issues li h1 {
  color:black;
  font-size: 2em;
  margin: 20px 0;
  text-align:center;
}

#issues li p {
  width: 100%;
  font-size: 14px;
  margin-right: 70px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
}

#infoRelations {
    display: none;
    position: absolute;
    width: 90%;
    z-index: 99;
    bottom: 0;
}

#impactP {
    width: 100%;
    height: 100%;
}

#impactGraphic {
    width: 100%;
    height: 100%;
}

#infoContent {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 115px;
}



#shorcuts {
    width: 40%;
    float: left;
    display: inline-block;
}

.tab-content {
    border: 1px solid #dddddd;
    border-top: none;
}

#contentGraph {
    height: 330px;
}

#myProjects {
    padding: 15px;
}


#projects_wrapper {
    margin-bottom: 0;
}