/* Bootstrap Tabs */
.tab-content > .active {
  display: block;
  /* background-color: #f5f5f5; */
  padding: 12px 14px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-top: 4px solid #1882aa;
  border-bottom-color: transparent;
  font-weight: bold;
  /* color: #0377a3; */
  /* background-color: #f5f5f5; */
}

.nav-tabs > li > a.fieldError {
  color: #ff4444 !important;
}

.nav-tabs > li > a {
  color: #6f6f6f;
  border-radius: 0 0 0;
  padding: 14px 22px !important;
  border: 1px solid #f1f1f1;
}

ul.nav li a {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.timeline-phases {
  display: none;
}

.reportsButtons > span {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.reportsButtons > span > p {
  font-family: "Open Sans", sans-serif;
  color: #1da5ce;
  text-align: center;
  font-size: 1.3em;
  line-height: 0.9em;
  margin: 0 1em 4px;
}

.reportsButtonsIconLG{
  font-size: 30px;
  margin: 5px;
}

.reportSection {
  padding: 3px 11px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  position: relative;
  text-align: center;
  margin-bottom: 2px;
  background-color: white;
  /* text-align: center; */
}

.reportSection:last-child {
  margin-right: 0;
}

.reportSection a {
  text-decoration: none;
  color: #b3b2b2;
  font-size: 1.2em;
}

.reportSection.current {
  background: #1da5ce;
  border-color: #1da5ce;
}

.reportSection.current a {
  color: #fff;
}

.containerBI {
  width: 98vw;
}
