.tab-content.budget-content {
    border: 1px solid #d1d1d1;
    padding: 10px 2em;
    border-radius: 0px 4px 4px 4px;
}

ul.nav.nav-tabs.budget-tabs {
    border: 0;
}

ul.nav.nav-tabs.budget-tabs li a{
    background-color: #f5f5f5;
    line-height: 1em;
    padding: 5px 15px;
    height: 29px;
}

ul.nav.nav-tabs.budget-tabs>li.active>a, 
ul.nav.nav-tabs.budget-tabs>li.active>a:focus, 
ul.nav.nav-tabs.budget-tabs>li.active>a:hover {
    background-color: #fff;
    line-height: 1em;
}

ul.nav.nav-tabs.budget-tabs>li {
    /* border-bottom: 1px solid #dddddd; */
    margin-bottom: -1px;
}

ul.nav.nav-tabs.budget-tabs>li.active {
    border-bottom: 1px solid #fff;
    z-index: 10;
}

ul.nav.nav-tabs.budget-tabs>li>a:hover {
    border-color: #d1d1d1 #d1d1d1 #fff;
}

.projectPartner {
    padding: 10px 0px 12px 0px;
}

.projectPartner .blockContent{
    padding: 10px 20px 12px 20px;
}



.amountType {
    font-weight: bold;
    width: 90px;
    color: #ceb286;
}

.w3bilateralFund {
    font-size: 0.85em;
}

.w3bilateralFund strong{
    padding-top: 0px;
    /* text-align: right; */
    display: block;
    /* margin-top: 4px; */
}

.budgetColumn {
    padding: 7px 4px !important;
    /* width: 17%; */
}

.budgetColumn p{
  text-align: center !important;
}

.budgetColumn input {
  height: 25px;
  text-align: center !important;
}

.blockTitle {
  margin-left: 20px;
}

.accordion-block {
  height: 596px;
}

.usersList ul {
  max-height: 500px;
}

.overallYearBudget {

}


.overallYearBudget .title{
    margin: 0;
    font-weight: bold;
    color: #5f96c5;
    padding: 5px 0px;
}

.overallYearBudget .subTitle{
    margin: 0;
    padding: 0 0 9px 0px;
}

.percentageAmount, .grayLabel {
    color: #ccc;
    /* font-style: italic; */
}

.percentageAmount.fieldError, .grayLabel.fieldError {
    color: red;
    /* font-style: italic; */
}

.projectW3bilateralFund {
    border: 1px solid #f3f2f2;
}
.projectW3bilateralFund a {
  color: #575757;
}

.expandableBlock .blockTitle.opened {
    opacity: 1 !important;
}

span.contact.name {
    font-size: 1em;
}

.projectW3bilateralFund p span.title {
    /* padding-right: 18px !important; */
    padding-bottom: 0px;
    font-size: 0.9em;
}

.budgetByYears {
  margin: 5px;
}

.budgetByYears .nav>li>a {
    position: relative;
    display: block;
    padding: 4px 15px;
}

.linkIcon {
    cursor: pointer;
    float: right;
}

.projectW3bilateralFund-list {
    padding: 4px 10px;
}