.activityIndex {
    padding: 1px 16px;
    position: absolute;
    top: -12px;
    left: 44%;
    /* cursor: pointer; */
    border: 1px solid #d1d1d1;
    background-color: #ffffff;
    border-radius: 10px;
}

.projectActivity {
    padding-top: 14px;
    margin-bottom: 30px;
}

.activitiesOG-content {
    margin-top: 30px;
}


.activityIndex span {
    color: #ccc;
}

.subTitle {
    /* margin-bottom: 30px; */
    /* color: #772323; */
}

.blockContent {
    margin-top: 20px;
}

.simpleBox hr {
    margin-bottom: 30px;
}

.activitiesC-content {
    margin-top: 20px;
}



.deliverableActivity {
    list-style: none;
    padding: 1px 4px 0px 6px;
    background-color: #F7F7F7;
    border: 1px solid #E0E0E0 !important;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 5px;
    position: relative;
}

.addActivity {
    margin-top: 15px;
}

.blockTitle {
    font-size: 1em;
}