<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.search.autoregister_listeners">false</property>
    <property name="hibernate.validator.apply_to_ddl">false</property>
   
    <!-- *********************************************************** -->
    
    <!-- Model Mappings -->
     <mapping resource="xmls/Auditlog.hbm.xml" />
    <mapping resource="xmls/Users.hbm.xml" />
    <mapping resource="xmls/Crps.hbm.xml" />
    <mapping resource="xmls/CrpUsers.hbm.xml" />
    <mapping resource="xmls/Roles.hbm.xml" />
    <mapping resource="xmls/UserRoles.hbm.xml" />
    <mapping resource="xmls/CrpParameters.hbm.xml" />
    <mapping resource="xmls/SrfIdos.hbm.xml" />
		<mapping resource="xmls/CrpsSitesIntegration.hbm.xml" />
		<mapping resource="xmls/CrpProgramLeaders.hbm.xml" />
		<mapping resource="xmls/CrpSitesLeaders.hbm.xml" />
		<mapping resource="xmls/SrfSloIndicatorTargets.hbm.xml" />
		<mapping resource="xmls/CrpMilestones.hbm.xml" />
		<mapping resource="xmls/CrpAssumptions.hbm.xml" />
		<mapping resource="xmls/CrpPrograms.hbm.xml" />
		<mapping resource="xmls/SrfSubIdos.hbm.xml" />
		<mapping resource="xmls/CrpOutcomeSubIdos.hbm.xml" />
		<mapping resource="xmls/SrfTargetUnits.hbm.xml" />
		<mapping resource="xmls/SrfSloIdos.hbm.xml" />
		<mapping resource="xmls/LocElementTypes.hbm.xml" />
		<mapping resource="xmls/CrpClusterOfActivities.hbm.xml" />
		<mapping resource="xmls/SrfCrossCuttingIssues.hbm.xml" />
		<mapping resource="xmls/CrpProgramOutcomes.hbm.xml" />
		<mapping resource="xmls/SrfSlos.hbm.xml" />
		<mapping resource="xmls/CrpSubIdosContributions.hbm.xml" />
		<mapping resource="xmls/LocElements.hbm.xml" />
		<mapping resource="xmls/LocGeopositions.hbm.xml" />
		<mapping resource="xmls/SrfSloIndicators.hbm.xml" />
		<mapping resource="xmls/Institutions.hbm.xml" />
		<mapping resource="xmls/InstitutionTypes.hbm.xml" />
		<mapping resource="xmls/CrpPpaPartners.hbm.xml" />
		<mapping resource="xmls/CrpProgramCountries.hbm.xml" />
    <mapping resource="xmls/CrpClusterActivityLeaders.hbm.xml" />
  </session-factory>
</hibernate-configuration>

   