<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.search.autoregister_listeners">false</property>
    <property name="hibernate.validator.apply_to_ddl">false</property>
   
    <!-- *********************************************************** -->
    
    <!-- Model Mappings -->
    <mapping resource="xmls/Users.hbm.xml" />
    <mapping resource="xmls/Crps.hbm.xml" />
    <mapping resource="xmls/CrpUsers.hbm.xml" />
    <mapping resource="xmls/Roles.hbm.xml" />
    <mapping resource="xmls/UserRoles.hbm.xml" />
    <mapping resource="xmls/CrpParameters.hbm.xml" />
        
  </session-factory>
</hibernate-configuration>

   