<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>
		<property name="show_sql">false</property>
		<property name="use_sql_comments">false</property>
		<property name="generate_statistics">false</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Model Mappings -->
		<mapping resource="xmls/DeliverableMetadataElements.hbm.xml" />
		<mapping resource="xmls/Auditlog.hbm.xml" />
		<mapping resource="xmls/Users.hbm.xml" />
		<mapping resource="xmls/Crps.hbm.xml" />
		<mapping resource="xmls/CrpUsers.hbm.xml" />
		<mapping resource="xmls/Roles.hbm.xml" />
		<mapping resource="xmls/UserRoles.hbm.xml" />
		<mapping resource="xmls/SrfIdos.hbm.xml" />
		<mapping resource="xmls/CrpsSitesIntegration.hbm.xml" />
		<mapping resource="xmls/CrpProgramLeaders.hbm.xml" />
		<mapping resource="xmls/CrpSitesLeaders.hbm.xml" />
		<mapping resource="xmls/SrfSloIndicatorTargets.hbm.xml" />
		<mapping resource="xmls/CrpMilestones.hbm.xml" />
		<mapping resource="xmls/CrpAssumptions.hbm.xml" />
		<mapping resource="xmls/CrpPrograms.hbm.xml" />
		<mapping resource="xmls/SrfSubIdos.hbm.xml" />
		<mapping resource="xmls/CrpOutcomeSubIdos.hbm.xml" />
		<mapping resource="xmls/SrfTargetUnits.hbm.xml" />
		<mapping resource="xmls/SrfSloIdos.hbm.xml" />
		<mapping resource="xmls/LocElementTypes.hbm.xml" />
		<mapping resource="xmls/CrpClusterOfActivities.hbm.xml" />
		<mapping resource="xmls/SrfCrossCuttingIssues.hbm.xml" />
		<mapping resource="xmls/CrpProgramOutcomes.hbm.xml" />
		<mapping resource="xmls/SrfSlos.hbm.xml" />
		<mapping resource="xmls/CrpSubIdosContributions.hbm.xml" />
		<mapping resource="xmls/LocElements.hbm.xml" />
		<mapping resource="xmls/LocGeopositions.hbm.xml" />
		<mapping resource="xmls/SrfSloIndicators.hbm.xml" />
		<mapping resource="xmls/Institutions.hbm.xml" />
		<mapping resource="xmls/InstitutionTypes.hbm.xml" />
		<mapping resource="xmls/CrpPpaPartners.hbm.xml" />
		<mapping resource="xmls/CrpProgramCountries.hbm.xml" />
		<mapping resource="xmls/CrpClusterActivityLeaders.hbm.xml" />
		<mapping resource="xmls/SectionStatuses.hbm.xml" />
		<mapping resource="xmls/Submissions.hbm.xml" />
		<mapping resource="xmls/Projects.hbm.xml" />
		<mapping resource="xmls/ProjectFocuses.hbm.xml" />
		<mapping resource="xmls/LiaisonInstitutions.hbm.xml" />
		<mapping resource="xmls/LiaisonUsers.hbm.xml" />
		<mapping resource="xmls/ProjectLocations.hbm.xml" />
		<mapping resource="xmls/ProjectPartners.hbm.xml" />
		<mapping resource="xmls/ProjectPartnerContributions.hbm.xml" />
		<mapping resource="xmls/ProjectPartnerPersons.hbm.xml" />
		<mapping resource="xmls/ProjectPartnerOverall.hbm.xml" />
		<mapping resource="xmls/ProjectComponentLessons.hbm.xml" />
		<mapping resource="xmls/Files.hbm.xml" />
		<mapping resource="xmls/CrpClusterKeyOutputs.hbm.xml" />
		<mapping resource="xmls/ProjectClusterActivities.hbm.xml" />
		<mapping resource="xmls/ProjectOutcomes.hbm.xml" />
		<mapping resource="xmls/ProjectMilestones.hbm.xml" />
		<mapping resource="xmls/ProjectCommunications.hbm.xml" />
		<mapping resource="xmls/ProjectScopes.hbm.xml" />
		<mapping resource="xmls/Deliverables.hbm.xml" />
		<mapping resource="xmls/DeliverableTypes.hbm.xml" />
		<mapping resource="xmls/ProjectNextusers.hbm.xml" />
		<mapping resource="xmls/DeliverablePartnerships.hbm.xml" />
		<mapping resource="xmls/Activities.hbm.xml" />
		<mapping resource="xmls/ProjectCrpContributions.hbm.xml" />
		<mapping resource="xmls/ProjectBudgets.hbm.xml" />
		<mapping resource="xmls/BudgetTypes.hbm.xml" />
		<mapping resource="xmls/DeliverableActivities.hbm.xml" />
		<mapping resource="xmls/ProjectBudgetsCluserActvities.hbm.xml" />
		<mapping resource="xmls/CrpClusterKeyOutputsOutcome.hbm.xml" />
		<mapping resource="xmls/ProjectLocationElementTypes.hbm.xml" />
		<mapping resource="xmls/FundingSources.hbm.xml" />
		<mapping resource="xmls/FundingSourceInfo.hbm.xml" />
		<mapping resource="xmls/FundingSourceBudgets.hbm.xml" />
		<mapping resource="xmls/DeliverableFundingSources.hbm.xml" />
		<mapping resource="xmls/DeliverableGenderLevels.hbm.xml" />
		<mapping resource="xmls/CrpTargetUnits.hbm.xml" />
		<mapping resource="xmls/ProjectHighligths.hbm.xml" />
		<mapping resource="xmls/ProjectHighligthsCountry.hbm.xml" />
		<mapping resource="xmls/ProjectHighligthsTypes.hbm.xml" />
		<mapping resource="xmls/ProjectLeverage.hbm.xml" />
		<mapping resource="xmls/CasesStudies.hbm.xml" />
		<mapping resource="xmls/CaseStudyProjects.hbm.xml" />
		<mapping resource="xmls/CrpIndicatorReports.hbm.xml" />
		<mapping resource="xmls/CrpIndicators.hbm.xml" />
		<mapping resource="xmls/CrpIndicatorTypes.hbm.xml" />
		<mapping resource="xmls/IpElements.hbm.xml" />
		<mapping resource="xmls/IpElementTypes.hbm.xml" />
		<mapping resource="xmls/IpIndicators.hbm.xml" />
		<mapping resource="xmls/IpProgramElementRelationTypes.hbm.xml" />
		<mapping resource="xmls/IpProgramElements.hbm.xml" />
		<mapping resource="xmls/IpPrograms.hbm.xml" />
		<mapping resource="xmls/IpProgramTypes.hbm.xml" />
		<mapping resource="xmls/IpProjectContributionOverviews.hbm.xml" />
		<mapping resource="xmls/IpProjectContributions.hbm.xml" />
		<mapping resource="xmls/IpProjectIndicators.hbm.xml" />
		<mapping resource="xmls/MogSynthesis.hbm.xml" />
		<mapping resource="xmls/OutcomeSynthesis.hbm.xml" />
		<mapping resource="xmls/ProjectOtherContributions.hbm.xml" />
		<mapping resource="xmls/ProjectFocusesPrev.hbm.xml" />
		<mapping resource="xmls/ProjectFurtherContributions.hbm.xml" />
		<mapping resource="xmls/DeliverableDataSharing.hbm.xml" />
		<mapping resource="xmls/DeliverableDataSharingFile.hbm.xml" />
		<mapping resource="xmls/DeliverableDissemination.hbm.xml" />
		<mapping resource="xmls/IpRelationships.hbm.xml" />
		<mapping resource="xmls/FundingSourceInstitutions.hbm.xml" />
		<mapping resource="xmls/DeliverableQualityAnswers.hbm.xml" />
		<mapping resource="xmls/DeliverableQualityChecks.hbm.xml" />
		<mapping resource="xmls/ProjectOutcomesPandr.hbm.xml" />
		<mapping resource="xmls/OtherContributions.hbm.xml" />
		<mapping resource="xmls/CrpsPandr.hbm.xml" />
		<mapping resource="xmls/CaseStudieIndicators.hbm.xml" />
		<mapping resource="xmls/MetadataElements.hbm.xml" />
		<mapping resource="xmls/DeliverablePublicationsMetada.hbm.xml" />
		<mapping resource="xmls/DeliverableCrps.hbm.xml" />
		<mapping resource="xmls/DeliverableUsers.hbm.xml" />
		<mapping resource="xmls/IpLiaisonInstitutions.hbm.xml" />
		<mapping resource="xmls/IpLiaisonUsers.hbm.xml" />
		<mapping resource="xmls/DeliverableLeaders.hbm.xml" />
		<mapping resource="xmls/DeliverablePrograms.hbm.xml" />
		<mapping resource="xmls/PartnerRequests.hbm.xml" />
		<mapping resource="xmls/Phases.hbm.xml" />
		<mapping resource="xmls/ProjectPhases.hbm.xml" />
		<mapping resource="xmls/GenderTypes.hbm.xml" />
		<mapping resource="xmls/PartnerDivisions.hbm.xml" />
		<mapping resource="xmls/CrpLocElementTypes.hbm.xml" />
		<mapping resource="xmls/FundingSourceLocations.hbm.xml" />
		<mapping resource="xmls/Parameters.hbm.xml" />
		<mapping resource="xmls/CustomParameters.hbm.xml" />
		<mapping resource="xmls/InstitutionsLocations.hbm.xml" />
		<mapping resource="xmls/ProjectPartnerLocations.hbm.xml" />
		<mapping resource="xmls/ProjectsInfo.hbm.xml" />
		<mapping resource="xmls/CenterUsers.hbm.xml" />
		<mapping resource="xmls/CenterAllTypes.hbm.xml" />
		<mapping resource="xmls/CenterMilestones.hbm.xml" />
		<mapping resource="xmls/CenterAreas.hbm.xml" />
		<mapping resource="xmls/Centers.hbm.xml" />
		<mapping resource="xmls/CenterImpact.hbm.xml" />
		<mapping resource="xmls/CenterLeaders.hbm.xml" />
		<mapping resource="xmls/CenterObjective.hbm.xml" />
		<mapping resource="xmls/CenterOutcome.hbm.xml" />
		<mapping resource="xmls/CenterOutput.hbm.xml" />
		<mapping resource="xmls/CenterPrograms.hbm.xml" />
		<mapping resource="xmls/CenterTopic.hbm.xml" />
		<mapping resource="xmls/CenterRoles.hbm.xml" />
		<mapping resource="xmls/CenterUserRoles.hbm.xml" />
		<mapping resource="xmls/CenterImpactObjectives.hbm.xml" />
		<mapping resource="xmls/CenterSectionStatuses.hbm.xml" />
		<mapping resource="xmls/CenterTargetUnits.hbm.xml" />
		<mapping resource="xmls/CenterBeneficiaries.hbm.xml" />
		<mapping resource="xmls/CenterBeneficiaryTypes.hbm.xml" />
		<mapping resource="xmls/CenterImpactBeneficiaries.hbm.xml" />
		<mapping resource="xmls/CenterRegions.hbm.xml" />
		<mapping resource="xmls/CenterNextuserTypes.hbm.xml" />
		<mapping resource="xmls/CenterOutputsNextUsers.hbm.xml" />
		<mapping resource="xmls/CenterCycles.hbm.xml" />
		<mapping resource="xmls/CenterSubmissions.hbm.xml" />
		<mapping resource="xmls/CenterProjectOutputs.hbm.xml" />
		<mapping resource="xmls/CenterProjects.hbm.xml" />
		<mapping resource="xmls/CenterProjectStatus.hbm.xml" />
		<mapping resource="xmls/CenterFundingSourceTypes.hbm.xml" />
		<mapping resource="xmls/CenterProjectFundingSources.hbm.xml" />
		<mapping resource="xmls/CenterProjectCrosscutingThemes.hbm.xml" />
		<mapping resource="xmls/CenterDeliverables.hbm.xml" />
		<mapping resource="xmls/CenterDeliverableTypes.hbm.xml" />
		<mapping resource="xmls/CenterDeliverableDocuments.hbm.xml" />
		<mapping resource="xmls/CenterMonitoringOutcomes.hbm.xml" />
		<mapping resource="xmls/CenterMonitoringMilestones.hbm.xml" />
		<mapping resource="xmls/CenterMonitoringOutcomeEvidences.hbm.xml" />
		<mapping resource="xmls/CenterProjectPartnerPersons.hbm.xml" />
		<mapping resource="xmls/CenterProjectPartners.hbm.xml" />
		<mapping resource="xmls/CenterProjectLocations.hbm.xml" />
		<mapping resource="xmls/CenterDeliverableCrosscutingThemes.hbm.xml" />
		<mapping resource="xmls/CenterDeliverableOutputs.hbm.xml" />
		<mapping resource="xmls/CenterProjectTypes.hbm.xml" />
		<mapping resource="xmls/CenterParameters.hbm.xml" />
		<mapping resource="xmls/CenterCustomParameters.hbm.xml" />
		<mapping resource="xmls/CenterImpactStatement.hbm.xml" />
		<mapping resource="xmls/DeliverablesInfo.hbm.xml" />
		<mapping resource="xmls/Agreement.hbm.xml" />
		<mapping resource="xmls/CountryAgreement.hbm.xml" />
		<mapping resource="xmls/CrpAgreement.hbm.xml" />
		<mapping resource="xmls/FundingSourceAgreement.hbm.xml" />
		<mapping resource="xmls/PlaAgreement.hbm.xml" />
		<mapping resource="xmls/RepositoryChannel.hbm.xml" />
		<mapping resource="xmls/CenterFundingSyncTypes.hbm.xml" />
		<mapping resource="xmls/ProjectExpectedStudies.hbm.xml"/>
		<mapping resource="xmls/ProjectBudgetsFlagships.hbm.xml"/>
		<mapping resource="xmls/CrossCuttingScoring.hbm.xml"/>		
	  <mapping resource="xmls/CrpProgramOutcomeIndicator.hbm.xml"/>
	  <mapping resource="xmls/ProjectOutcomeIndicators.hbm.xml"/>
		<mapping resource="xmls/EmailLogs.hbm.xml"/>
		<mapping resource="xmls/ExpectedStudyProjects.hbm.xml"/> 
	</session-factory>
</hibernate-configuration>

   