table.deliverablesList thead{
font-weight: bold !important; 
}

table.deliverablesList thead tr{
  height: 40px;
  background-color: #7B9074;
}

tbody tr{
      height:35px;;
}

.removeDocument{
  top: 23px;
  right:17px; 
}

label.checkbox {font-weight: normal;margin-left: 20px;}