#configuration for developer machine
# BD
mysql.host=localhost
mysql.user=user
mysql.password=password
mysql.database=database_name
mysql.url=jdbc:mysql://localhost:3306/database_name
mysql.port=3306
# -----------------------------
marlo.baseUrl=localhost:8080/marlo-web/
#------------------
# MARLO MODULES
marlo.admin.active=true
marlo.impactPathway.active=true
#------------------
#Pusher API KEY-----------
pusher.api.key=
pusher.api.appid=
pusher.api.privatekey=
#---------------------------------------------------
#                   Tawk.to API Key
#---------------------------------------------------
tawkto.api.key=

#---------------------------------------------------
#                   Google api key
#---------------------------------------------------
google.api.key=

#                   File properties
# ----------------------------------------------------
autosave.file=
autosave.active=true
# -----------------------------------------------
# TEST MODE
# ------------------------------------------------
marlo.production=false
marlo.debug=false

# ------------------------------------------------
# Email account
# ------------------------------------------------

# Mail configuration
email.notification=
#gmail.password=
email.user=
email.password=
email.host=
email.port=

# ------------------------------------------------
# Logger properties
# ------------------------------------------------

log.folder=
log.console=true
log.file=true
!Production log only shows logs of type info, warn and error 
log.production=true
!Test log shows logs of all types trace, debug, info, warn and error 
log.test=false

## file Downloads
# URL where the files uploaded can be downloaded
file.downloads=localhost/data
file.uploads.projectsFolder={0}/projects
# folder to upload project work plans
file.uploads.project.WorkplanFolder=workplan/
# folder to upload bilateral project contract proposal
file.uploads.project.bilateralProposalFolder=bilateralProposal/

file.uploads.project.bilateralPAnualReport=anualReport/
# Resource path
resource.path=

# Maximum size allowed
file.maxSizeAllowed.bytes=3145728

# Base folder where files will be moved
file.uploads.baseFolder=