.contributionContent {
    border: 1px solid #d1d1d1;
    padding: 10px 2em;
    border-radius: 0px 4px 4px 4px;
    margin-bottom: 25px;
    border-top: none;
}

.budget-tabs a {
    background-color: #f5f5f5;
    height: 35px;
}

.informationWrapper {
    margin-bottom: 25px;
}


table {}

table tr{
    list-style: none;
    padding-bottom: 9px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 0.95em;
}

table tr a{
   color: #444;
}

a {}

thead th{
    background: #f5f5f5;
    color: #a9a8a8;
}

td {
    vertical-align: middle !important;
}

span.icon-20 {
    margin-top: 7px;
}

table {
    border: 1px solid #e6e6e6;
    font-size: 0.95em;
}

.redInfo{
	color:red;
}

.blueInfo{
	color:#2ECC71;
}