.okButton{
	padding-left: 117px;
	margin-top: 29px;
}
.blockButton{
	margin-top: -3px;
	position: absolute;
	width: 70px;
	height: 27px;
	z-index: 100;
	/* background-color: red; */
}
.okButton a{
	color: white;
	border-radius:5px;
	opacity: 0.4;
}
.description{
	font-size:0.9em;
}
.generateReport{
	height: 30px;
	border-radius:5px;
}
#generateProject{
	 /* margin-top: 20px; */
}

.choose{
	opacity:1;
}

.notChoose{
	opacity:0.4;
}
.summariesButtons {
  width: 93%;
  margin: 0 auto;
}

.summariesSection {
  width: 23%;
  float: left;
  margin-right: 1.4%;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  /* text-align: center; */
}

.summariesSection:last-child {
  margin-right:0;
}

.summariesSection a {display: block;line-height: 50px;text-decoration: none;color: #5F5F5F;font-size: 1.2em;}

.summariesSection.current {
background-color: #1DA5CE;}

.summariesSection.current a {
color: #fff;font-weight: bold;}

.summariesSection span {
  background-image: url(../../images/summaries/summaries-icons.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  margin-left: 35px;
  display: block;
  float: left;
  cursor: pointer;
}

.summariesOptions {
  margin: 8px 0;
}

.summariesOption {
  margin: 1px 0px;
}

.summariesOption .description {
  margin: 4px 33px 13px 33px;
  color: #868686;
}

.summariesOption input { 
vertical-align: middle;}

.summariesOption label { 
}

.summariesOption label span{/* background-color: #f1f1f1; */font-size: 1em;padding: 0 7px;border-radius: 4px;}

.extraOptions {
  /* padding-top: 70px; */
  margin: 5px 16px;
}

/* Summaries Section icons*/

#projects.summariesSection span {
  background-position: 6px 10px;
}

#projects.summariesSection.current span {
  background-position: -89px 10px;
}

#partners.summariesSection span {
  background-position: 9px -31px;
}

#partners.summariesSection.current span {
  background-position: -88px -31px;
}

#deliverables.summariesSection span {
  background-position: 8px -78px;
}

#deliverables.summariesSection.current span {
  background-position: -92px -78px;
}

#budget.summariesSection span {
  background-position: 5px -173px;
}

#budget.summariesSection.current span {
  background-position: -92px -173px;
}

.headerBlock {
    margin-top: 5px;
}

.headerBlock h5 {
    line-height: 25px;
}

.selectReport-title {
    text-align: center;
    color: #8a6d3b;
}

.pdfIcon {
    cursor: pointer;
    color: red;
    font-size: 2em;
    margin: 5px 0 0 0px;
}

.title-file {
    /* text-align: center; */
    font-size: 1.1em;
}

.title-file span {
    cursor: help;
}

.summariesFiles {
    /* margin: 10px 4%; */
    cursor: pointer;
    /* min-height: 154px; */
}

.excelIcon {
    cursor: pointer;
    color: #3c763d;
    font-size: 2em;
    margin: 5px 0 0 4px;
}

.info-file {
    position: absolute;
    right: 4%;
    cursor: help;
}

.selected{
	border-color: #2ba6cb;
}

.notAvailable{
	margin: 10px 4%;
	cursor: no-drop;
	opacity: 0.4;
	min-height: 154px;
}

#projectsPopUp{
	overflow-y: auto;
}

#selectProject{
	cursor:pointer;
	opacity: 0.55;
	border: 1px solid;
}

#projectsPopUp li{
	list-style-type: none;
	padding: 10px;
	margin-bottom: 5px;
	margin-left: -18px;
	/* background-color: #f1f1f1; */
	cursor: pointer;
	/* border-radius: 8px; */
	border-bottom: 1px solid #c1c1c1;
}

#includeTerms{
	cursor: pointer;
    opacity: 0.55;
    border: 1px solid;
}

#projectsPopUp li:hover{
	background-color: #f1f1f1;
}

.wordContent{
	min-height:90px;
	max-height: 90px;
	overflow-y: auto;
}

.terms{
	border: 1px dashed #ccc;
	padding: 0px 8px;
	margin: 3px;
}
.text{
	margin:7px;
}

.removeTerm{
	cursor:pointer;
}

.download{
	    background-color: #2BA6CB;
	    color: #fff;
	    padding: 5px 13px;
	    border-bottom: 3px solid #1E94B8;
	    border-radius: 6px;
}
/* INFO ANIMATION */

span.info-file {

 -webkit-animation: jump 1.5s ease 0s infinite normal ;
 animation: jump 1.5s ease 0s 1 normal ;
}

@-webkit-keyframes jump {
  0%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  20%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  40%{
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  }
  50%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  60%{
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  }
  80%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
}

@keyframes jump {
  0%{
  transform: translateY(0);
  }
  20%{
  transform: translateY(0);
  }
  40%{
  transform: translateY(-5px);
  }
  50%{
  transform: translateY(0);
  }
  60%{
  transform: translateY(-5px);
  }
  80%{
  transform: translateY(0);
  }
  100%{
  transform: translateY(0);
  }