.okButton {
  padding-left: 117px;
  margin-top: 29px;
}

.blockButton {
  margin-top: -3px;
  position: absolute;
  width: 70px;
  height: 27px;
  z-index: 100;
  /* background-color: red; */
}

.okButton a {
  color: white;
  border-radius: 5px;
  opacity: 0.4;
}

.description {
  font-size: 0.9em;
}

.generateReport {
  height: 30px;
  border-radius: 5px;
}

#generateProject {
  /* margin-top: 20px; */
}

.choose {
  opacity: 1;
}

.notChoose {
  opacity: 0.4;
}

.summariesButtons {
  /* width: 93%; */
  margin-top: 58px;
}

.summariesSection {
  height: 100%;
  text-align: center;
  border-right: solid 1px #ffffff;
}

#projects img{
  cursor: pointer;
}

#partners img{
  cursor: pointer;
}

#deliverables img{
  cursor: pointer;
}

.summariesSection:last-child {
  margin-right: 0;
}

.summariesSection a {
  display: block;
  line-height: 0px;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}

.summariesSection.current a {
  color: #fff;
  font-weight: bold;
}

.summariesSection span {
  background-image: url(../../../global/images/summaries/summaries-icons.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  margin-left: 28px;
  display: block;
  float: left;
  cursor: pointer;
}

.summariesTab {
  margin-top: 2em;
}

.summariesOptions {
  /* margin: 8px 0; */
}

.summariesOption {
  margin: 1px 0px;
}

.summariesOption .description {
  margin: 4px 33px 13px 33px;
  color: #868686;
}

.summariesOption input {
  vertical-align: middle;
}

.summariesOption label {
}

.summariesOption label span {
  /* background-color: #f1f1f1; */
  font-size: 1em;
  padding: 0 7px;
  border-radius: 4px;
}

.extraOptions {
  /* padding-top: 70px; */
  /* margin: 5px 16px; */
}

/* Summaries Section icons*/
#projects.summariesSection span {
  background-position: 6px 10px;
}

#projects.summariesSection.current span {
  background-position: -89px 10px;
}

#partners.summariesSection span {
  background-position: 9px -31px;
}

#partners.summariesSection.current span {
  background-position: -88px -31px;
}

#deliverables.summariesSection span {
  background-position: 8px -78px;
}

#deliverables.summariesSection.current span {
  background-position: -92px -78px;
}

#budget.summariesSection span {
  background-position: 5px -173px;
}

#budget.summariesSection.current span {
  background-position: -92px -173px;
}

#globalUnitLevel.summariesSection span {
  background-position: 5px -317px;
}

#globalUnitLevel.summariesSection.current span {
  background-position: -92px -316px;
}

#capdev.summariesSection span {
  background-position: 5px -125px;
}

#capdev.summariesSection.current span {
  background-position: -93px -126px;
}

#monitoring.summariesSection span {
  background-position: 5px -220px;
}

#monitoring.summariesSection.current span {
  background-position: -93px -220px;
}

.headerBlock {
  margin-top: 5px;
}

.headerBlock h5 {
  line-height: 25px;
}

.selectReport-title {
  text-align: center;
  color: #8a6d3b;
}

.pdfIcon {
  /* cursor: pointer; */
  /* color: red; */
  /* font-size: 1.2em; */
  /* margin: 5px 0 0 0px; */
}

.title-file {
  font-family: 'Open Sans';
  color: #1da5ce;
  margin: 5px 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #d1ebf3;
}

.title-file span {
  cursor: help;
}

.summariesFiles {
  cursor: pointer;
  border-left-width: 4px;
  border-radius: 2px;
}

.summariesFiles:hover {
  border-color: #d2d1d1;
}

.summariesFiles .tags .label {
  font-size: 0.72em;
  margin-right: 2px;
  opacity: 0.7;
}

.summariesFiles .tags .label.type-excel {
  background: #2a8851;
}

.summariesFiles .tags .label.type-pdf {
  background: #F44336;
}

.summariesFiles .tags .label.type-reporting {
  background: #777777;
}

.summariesFiles .tags .label.type-planning {
  background: #337ab7;
}

.summariesFiles .tags .label.type-word {
  background: #4584e3;
}

.summariesFiles .tags .label.type-code {
  background: #57A7B5;
}

.summariesFiles .imgArrow{
  position: absolute;
  left: 0;
  top: 17px;
}


.excelIcon {
  /* cursor: pointer; */
  /* color: #3c763d; */
  /* font-size: 1.2em; */
  /* margin: 5px 0 0 4px; */
}

.info-file {
  position: absolute;
  right: 4%;
  cursor: help;
}

.selected {
  border-color: #1da5ce !important;
}

.notAvailable {
  margin: 10px 4%;
  cursor: no-drop;
  opacity: 0.4;
  min-height: 154px;
}

#projectsPopUp {
  overflow-y: auto;
}

#selectProject {
  cursor: pointer;
  opacity: 0.55;
  border: 1px solid;
}

#projectsPopUp li {
  list-style-type: none;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: -18px;
  /* background-color: #f1f1f1; */
  cursor: pointer;
  /* border-radius: 8px; */
  border-bottom: 1px solid #c1c1c1;
}

#includeTerms {
  cursor: pointer;
  opacity: 0.55;
  border: 1px solid;
}

#projectsPopUp li:hover {
  background-color: #f1f1f1;
}

.wordContent {
  min-height: 90px;
  max-height: 90px;
  overflow-y: auto;
}

.terms {
  border: 1px dashed #ccc;
  padding: 0px 8px;
  margin: 3px;
}

.text {
  margin: 7px;
}

.removeTerm {
  cursor: pointer;
}

.download {
  background-color: #2BA6CB;
  color: #fff;
  padding: 5px 13px;
  border-bottom: 3px solid #1E94B8;
  border-radius: 6px;
}



ul.tag-editor {
  line-height: 25px;
  min-height: 60px;
}

.tag-editor li  {
}

.tag-editor .tag-editor-tag {
  background: #f1f1f1;
  color: #636363;
  padding: 0 18px;
  /* border: 1px dashed #636363; */
  /* border-right-width: 0; */
}

.tag-editor .tag-editor-delete {
  background: #e8e8e8;
}

.sectionSummarie{
  margin-top: 50px;
  /* border: solid 1px #9A9A9A; */
  padding-bottom: 30px;
}

.headTitle{
  font-weight: 600;
  color: white;
  font-size: 24pt;
}

.containerHeader{
  display: flex;
  justify-content: center;
}

.containerHeader img{
  width: 31px;
  object-fit: contain;
  margin-top: 11px;
  margin-right: 10px;
}

.summariesContent{
  width: 100%;
}

.menuSummaries{
  display: flex;
  background: rgb(12, 153, 153);
  height: 91px;
  border-radius: 10px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  margin-bottom: 20px;
}

.menuSummaries #projects{
  border-radius: 10px 0 0 10px;
}

.img_aiccra{
  position: absolute;
  width: 170px;
  top: 11px;
  left: 57px;
}

.timeline-phases{
  display: none;
}

.subMainMenu{
  display: none;
}

.containerDescriptionSummaries{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75%;
  font-size: 17px;
}

.descriptionSummaries{
  margin-bottom: 10px;
} 

.sectionMap{
  width: 100%;
  height: 140px;
  background: #0478a3;
  display: flex;
  /* border-radius: 0 0 50% 50%; */
  flex-direction: column;
  color: #ffffff;
  padding: 1rem 4rem;
  align-items: flex-start;
}

.containerMapsection{
  display: flex;
  position: relative;
}

.borderMap{
  width: 100%;
  height: 100px;
  background-image: url(../../../global/images/header.svg);
  background-repeat: no-repeat;    
  background-size: 100%;
  margin-top: -1px;    
  margin-bottom: -38px;
}

li[role="presentation"] {
  margin-right: 0;
  padding: 0;
}

ul.nav li a {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.nav-tabs>li>a {
  color: #6f6f6f;
  border-radius: 0 0 0;
  padding: 7px 19px !important;
  padding-left: 10px !important;
  padding-right: 28px !important;
  font-size: 13px;
  border: 1px solid #f1f1f1;
  height: 49.33px;
  align-content: center;
  text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-top: 4px solid #1882aa;
  border-bottom-color: transparent;
  font-weight: bold;
  height: 52.7px;
}

.tab-content>.active {
  display: block;
  /* background-color: #f5f5f5; */
  padding: 12px 14px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.nav-tabs li.submitted a {
  background-image: url(../../../global/images/submitted.png?20190411);
  background-repeat: no-repeat;
  /* background-size: 15px; */
  background-position: 97% -55%;
}

.nav-tabs li.toSubmit a {
  background-image: url(../../../global/images/submitted.png?20190411);
  background-repeat: no-repeat;
  background-position: 97% 140%;
}

.borderBox {
  padding: 40px;
}

.tabler--file-star {
  display: inline-block;
  width: 18px;
  height: 18px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4'/%3E%3Cpath d='M17 21H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7l5 5v11a2 2 0 0 1-2 2'/%3E%3Cpath d='m11.8 16.817l-2.172 1.138a.392.392 0 0 1-.568-.41l.415-2.411l-1.757-1.707a.389.389 0 0 1 .217-.665l2.428-.352l1.086-2.193a.392.392 0 0 1 .702 0l1.086 2.193l2.428.352a.39.39 0 0 1 .217.665l-1.757 1.707l.414 2.41a.39.39 0 0 1-.567.411z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
