.outputListTitle{
	margin-top:30px;
	margin-bottom:15px;
  text-align:center;
}

table tr{
  height: 30px;
}

.milestone.simpleBox {
  padding-top: 20px;
}

.partnerSelect {
    border: 1px dashed #e4e4e4;
    margin-top: 14px;
    margin-bottom: 1em;
    padding: 13px;
    color: #94988b;
}

.sectionSubTitle {padding-bottom: 8px;}